//all text input types (including the new HTML5 ones)
input,
textarea {
	//sets the placeholder color to the lightest possible grey against white that is AA complient
	@extend %inputStyling;
	width: 100%;
	color: $CG-input;
	border-radius: 0!important;
	@include M-appearanceNone;
	@include M-animate('fast');
	@include M-placeholder;
	@include M-hover { background-color: $CG-input-focus; }
	&.#{$errorClass} { background-color: $CG-error-bg; border-color: $CG-error-border;
		@include M-hover {
			background-color: $CG-error-bg--hover;
		}
	}
}