/////////////////////////////////
// functional color variables //
///////////////////////////////
//c- for color-

$c-primary: $purple-mid;
$c-primary--hover: $purple-mid--hover;

$c-border--input: $grey-mid;
$c-border--listing: $grey-mid;
$c-border--legend: #000;
$c-border--formBase: $grey-mid;

$c-h1: #2B2B2B;

$c-heading: $grey-dim;

$c-paragraph: $grey-dark;


$c-inputFocus: $grey-light;

$c-footer-bg: $grey-pale;

$c-error-text: $red-dim;
$c-error-bg: $red-pale;
$c-error-border: $c-error-text;

$c-error-text--hover: $red-dim--hover;
$c-error-bg--hover: $red-pale--hover;
$c-error-border--hover: $c-error-text;

