.torch {
	@include M-size(500px);
	margin: 50px auto;
	border: 3px solid #753300;
	background: #000;
	overflow: hidden;

	&__light {
		@include M-rGrad(#EBE300, transparent);
		@include M-size(200px);
		margin: -100px 0 0 -100px;
	}
	&__body {
		@include M-rGrad(#363636 50%, #121212);
		text-align: center;
		border-radius: 50%;
	}
}