$icon-share: "\e905";
$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-search: "\e904";
$icon-rtf: "\e616";
$icon-pdf: "\e600";
$icon-word: "\e601";
$icon-excel: "\e602";
$icon-powerpoint: "\e603";
$icon-cross: "\e60d";
$icon-checkmark: "\e60e";
$icon-external: "\e60f";
$icon-return: "\e908";
$icon-email: "\e909";
$icon-facebook: "\e906";
$icon-twitter: "\e907";
