
$MQ-test-single: max, bp('mobile');

$MQ-test-multiple:
	(inside, bp('large'), bp('tablet')),
	(min, bp('page'))
;

.demo {
	&__div {
		height: 200px;
		max-width: 500px;
	}

	&__mediaQuery {
		color: #fff;
		@include M-mq($MQ-test-single){
			background-color: red;
		}
		@include M-mq($MQ-test-multiple){
			border: 5px dotted #fff;
			background: green;
		}
		@include M-mq(min, bp('tablet')){
			background-color: purple;
		}

	}
	&__gradient {
		@include M-grad(#ccc,#000,20deg);
	}
	&__multiGrad {
		$gradient:
			#000 0%,
			green 30%,
			red 40%,
			orange 80%,
			blue 100%
		;
		@include M-multi-grad($gradient,d-up);
	}

	&__triangle {
		@include M-tri(up,#000,20px);
		//@extend %centered;
		//left: 20px;
	}

	&__autoSprite {
		@include M-sprite($word);
		display: inline-block;
	}

	&__icon {
		@include M-icon(word,blue,20px){
			margin-right: 10px;
		};
	}

	&__kfAnimate {
		padding: 5px 20px;
		$exampleAnimation:
			(margin: 0 30px, background: #FF0000),
			(margin: 0 60px, background: #008000),
			(margin: 0 30px, background: #FF0000),
		;

		@include M-kf-animate(exampleAnimation, $exampleAnimation, 2s 1s, $ease: ease-in-out);
		&--multi {
			text-align: center;
			//EXAMPLE USAGE (multi attribute):
			$exampleAnimation--multi:
				0% (
					scale: 0,
					opacity: 0
				),
				80% (
					scale: 1,
					opacity: 1
				),
				100% (
					scale: 0,
					opacity: 0
				)
			;
			@include M-kf-animate(
				exampleAnimation--multi,
				$exampleAnimation--multi,
				3s,
				infinite,
				linear
			);
		}



	}
}