.torch {
	@include M-size(500px);
	margin: 50px auto;
	border: 3px solid #753300;
	background: #000;
	overflow: hidden;

	&__light {
		@include M-grad(#EBE300, transparent, 'r');
		@include M-size(200px);
		margin: -100px 0 0 -100px;
	}
	&__body {
		@include M-grad(#363636 50%, #121212, 'r');
		text-align: center;
		border-radius: 50%;
	}
}