<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
  <rules>
      <rule name="block favicon" stopProcessing="true">
          <match url="favicon\.ico" />
          <action type="CustomResponse" statusCode="404" subStatusCode="1" 
              statusReason="The requested file favicon.ico was not found" 
              statusDescription="The requested file favicon.ico was not found" />
      </rule>
      <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
              <add input="{HTTP_HOST}" pattern="^example\.com$" />
          </conditions>
          
          <action type="Redirect" redirectType="Permanent" url="http://www.example.com/{R:1}" />
      </rule>
      <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
              <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?p={R:1}" appendQueryString="true" />
      </rule>
  </rules>
</rewrite>

<staticContent>
  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
  <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
</staticContent>

</system.webServer>
</configuration>