/////////////////////////////////
// functional color variables //
///////////////////////////////
//changes the intensity of color change on hover
$V-hoverModifier: 60%;

//CG- for color-global-
//C- for color- (modular)

//lists prominent colors **IN ORDER OF PROMINENCE**
$CG-prominence: (
	//*Main color*/
	color: $CB-yellow-light,

	//*Most likely hover state color for the main color*/
	hover: shade($CB-yellow-light, $V-hoverModifier),

	//*If there is a color that is commonly used alongside the main color, set it as the partner color*/
	partner: $CB-orange-light,
	/*if set as a background color, the text inside will most likely be this color*/
	text: #fff,
),

//*Second most prominent color etc. */
(
	color: $CB-blue-dark,
	hover: $CB-blue-dark--hover,
	partner: $CB-blue-dimmer,
	text: #fff,
),
(
	color: $CB-blue-light,
	hover: $CB-blue-light--hover,
	partner: $CB-blue-mid,
	text: #fff,
);


$CG-body-text: $CB-grey-dark;
$CG-body-bg: #fff;

$CG-border-1: $CB-grey-light;
$CG-border-2: $CG-body-bg;
$CG-border-3: #d2d2d2;


$CG-links: $CB-blue-dim;

$CG-heading: $CG-body-text;

$CG-error-text: $CB-red-dim;
$CG-error-bg: $CB-red-pale;
$CG-error-border: $CG-error-text;
	$CG-error-text--hover: $CB-red-dim--hover;
	$CG-error-bg--hover: $CB-red-pale--hover;
	$CG-error-border--hover: $CG-error-text;

$CG-input: $CB-grey-dark;
$CG-input--placeholder: #767676;//#767676 is the lightest possible grey against a white bg that passes AA for small text
$CG-input-focus: $CB-grey-pale;
$CG-input-border: $CG-border-1;
