/////////////////////////
//CONSTANT ICON STYLES//
///////////////////////

@mixin M-icon-static-styles {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
    text-align: center;
	vertical-align: middle;

	//* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%M-icon-static-styles {
	@include M-icon-static-styles;
}

@if ($main-sheet == true){

	[class^="icon-"], [class*=" icon-"] {
		&:before, &:after {
			@extend %M-icon-static-styles;
		}
	}

}

//set the size of the icon and makes it work with the M-centered mixin
@mixin M-icon-size ($icon-height, $icon-width: $icon-height) {
	@if ($icon-height != false){
		font-size: $icon-height;
		line-height: $icon-height;
		@include M-size($icon-height, $icon-width);
		text-align: center;
	}
}

//////////////////
//SETTING ICONS//
////////////////

// GOOD FOR MOST CIRCUMSTANCES
// Moves majority of static icon styles into a single rule to cut down css bulk
@mixin M-icon($icon:'', $color: inherit, $height: false, $width:$height, $display: inline-block, $pos:before) {


	@if ($pos == before){
		&:before {
			content: $icon;
			display: $display;
			@if ( $color != inherit ){
				color: $color;
			}
			@extend %M-icon-static-styles;
			@include M-icon-size($height, $width);
			@content;
		}

	} @else if ($pos == after){
		&:after {
			content: $icon;
			display: $display;
			@if ( $color != inherit ){
				color: $color;
			}
			@extend %M-icon-static-styles;
			@include M-icon-size($height, $width);
			@content;
		}
	}
} ;

//GOOD FOR MEDIA QUERIES
//Self contained to prevent errors in media queries
@mixin M-mq-icon($icon, $colour: inherit, $height: false, $width:$height, $display: inline-block, $pos:before) {

	@if ($pos == before){
		&:before {
			content: $icon;
			display: $display;
			@if ( $colour != inherit ){
				color: $colour;
			}
			@include M-icon-size($height, $width);
			@include M-icon-static-styles;
			@content;
		}
	} @else if ($pos == after){
		&:after {
			content: $icon;
			display: $display;
			@if ( $colour != inherit ){
				color: $colour;
			}
			@include M-icon-size($height, $width);
			@include M-icon-static-styles;
			@content;
		}
	}
} ;
