////////////////////////////////////////////////////////////////
//
// PROJECT SPECIFIC EXTENSIONS AND MIXINS
// ====================================
// For commonly used styles that only relate to this project
//
// It's better to make these in extension form rather than mixin if possible
//
//////////////////////////////////////////////////////////////

%project-pecific-extension {
	//
}

@mixin M-project-specific-mixin(){
	//
}

%file-static-styles {
	@extend %M-icon-static-styles;
	border: 1px solid #b9282b;
	padding: 2px 0;
	content: "";
	margin-right: 5px;
	width: 18px;
	text-align: center;
	font-size: 10px;
};

@function files_link($files){
	$file_list: ();
	@for $i from 1 through length($files) {
		$file_list:
			append(	$file_list, (
					unquote(
						//adds a version of the file type as written
						'a[href$=".#{nth($files,$i)}"]'
					)
				), comma
			);
	}
	@for $i from 1 through length($files) {
		$file_list:
			append(	$file_list,	(
					unquote(
						//adds a capitalised version of the file type
						'a[href$=".#{to-upper-case(nth($files,$i))}"]'
					)
				), comma
			);
	}
	@return ($file_list);
}

@mixin M-download_icons($icon,$color,$lighten:40%,$desaturation:0%){
	@include M-icon($icon){
		@extend %file-static-styles;
		color: $color;
		border-color: $color;
		@include M-grad(desaturate(lighten($color,$lighten),$desaturation),desaturate(lighten($color,$lighten + 30),$desaturation),$backup:#fff);
	}
}

///////////////////////////////////
/*   SHARED ANIMATION EFFECTS   */
/////////////////////////////////
@if ($main-sheet == true){

	$popin:
		(
			(scale, 0),
			(opacity, 0),
		) 0%,
		(
			(scale, 1.2),
			(opacity, 1),
		) 70%,
		(
			(scale, 1),
			(opacity, 1),
		) 100%
	;

	@include M-kf-definition(popin,$popin);

	$pulse:
		(
			(scale, 1),
		) 0%,
		(
			(scale, 1.1),
		) 30%,
		(
			(scale, 1),
		) 50%,
		(
			(scale, 1),
		) 100%
	;
	@include M-kf-definition(pulse,$pulse);

}//end if statement

//POP IN EFFECT
@mixin M-popin($settings: 0.5s){
	opacity: 1;
	@include M-kf-predefined(popin,$settings,1,ease-out);
}
%popin { @include M-popin; }


//PULSE EFFECT
@mixin M-pulse($loops:infinite,$settings: 1s){
	@include M-kf-predefined(pulse,$settings,$loops);
}
%pulse { @include M-pulse; }
%pulse-single { @include M-pulse(1); }


