/**********************************
			ELEMENTS
**********************************/


#skipToContent {color: #333333; text-decoration: none; top: 15px; }

.noscript-message {
	padding: 20px;
	background-color: #ecb2b2;
	border: 1px solid #8c1717;
	color: #8c1717;
	box-shadow: 3px 3px 3px #999;
	z-index: 9999;
	position: relative;
	display: none;

	.no-js & { display: block;  }
	p { margin: 0; }
	a { color: darken(#8c1717, 15%); text-decoration: underline;
		&:hover, &:focus { text-decoration: none; }
	}
}

//.icon { @include M-icon(''); } //Not sure if I like having this or not :/

/************\
    Tables
\************/

table{text-align:left; width:100%;
	th, td { padding: 5px; }
	thead th {font-weight:bold;}
	tbody th{font-weight:bold;}
}

/************************
		Tools
************************/

.clear { clear: both; }

.js-count-up {
	@include M-animate(2s);
	white-space: nowrap;
	.js & { opacity: 0;}
	&.forced-visible { @extend %anti-animate !optional; }
	& + * { opacity: 0; @extend %animate !optional; }
	&.activate, &.forced-visible { opacity: 1;
		& + * { opacity: 1; }
	}
}

.js-alpha-count {
	@extend .js-count-up;
	@include M-animate(1s);
}

.js-popins__piece { opacity: 0;
	&.js-popins__piece--pop { @extend %popin; }
}

.js .lightbox-info { display: none; }

.tooltip { position: relative;
	@include M-mq(min,$bp-tablet){
		&:hover, &:focus {
			.tooltip-text {
				//can't use @extend, inside media query
				@include M-scale(1);
				@include M-opacity(1);
			}
		}
	}
}
.tooltip-text {
	@include M-scale(0);
	@include M-opacity(0);
	@include M-origin(bottom center);
	@include M-animate(0.2s);
	position: absolute;
	text-align: center;
	bottom: 150%;
	left: 50%;
	margin-left: -150px;
	background: #000;
	color: #fff;
	width: 300px;
	font-size: $body-font-size;
	padding: 10px;
	z-index: 5;

	@include M-before {
		@extend %centered-h;
		@include M-tri(down,#000,10px);
		top: 100%;
	}

	&.bellow {
		@include M-origin(top center);
		bottom: auto;
		top: 150%;
		&:before {
			@include M-tri(up,#000,10px);
			top: auto;
			bottom: 100%;
		}
	}
}

/****************\
	File icons
\***************/

a.external-link {
	@include M-icon(external,14px,$pos:after){
		color: #1C4B92;
		margin-left: 5px;
	}
}

//FORMAT: M-download_icons($icon,$color,$lighten:40%,$desaturation:0%);
//mixin found in _project-specific.scss
#{files_link(pdf)} { @include M-download_icons(pdf,#b9282b); }
#{files_link((doc, docx))} { @include M-download_icons(word,#3617B4); }
#{files_link((xls, xlsx))} { @include M-download_icons(excel,#065B0E,50%,50%); }
#{files_link((ppt, pptx))} { @include M-download_icons(powerpoint,#E65A15,30%); }
#{files_link(txt)} { @include M-download_icons(text,#7B7B7B,30%); }
#{files_link(mp3)} { @include M-download_icons(audio,#680E7F,50%); }
a[href*="itunes"] { @include M-download_icons(podcast,#107A8F,$desaturation:20%); }
a.htmlDownload { @include M-download_icons(globe,#4469CE,30%); }




/**********************************
		General Form styles
**********************************/



/*
 -------------------------------------------------
				Custom lightbox styles
 -------------------------------------------------
*/

.lightbox-info {
	width: 600px;
	box-shadow: 0 5px 15px rgba(#000, 0.2);
	background-color: #FFF;
	border: 1px solid rgba(#000, 0.2);
	border-radius: 6px;
	outline: 0 none;
	position: relative;

	h2 {
		padding: 15px 50px 15px 20px;
		border-bottom: 1px solid #ccc;
		margin: 0;
	}
}

.info-content { padding: 20px;
	p { margin: 1em 0 0; }
	p:first-child { margin-top: 0; }
}

.custombox-overlay {
	background: rgba(#fff,0.5)!important;
}

.close-info-btn {

	//backup cross needs to be added
	@include M-cross(#939393,12px);

	@include M-animate(0.3s);


	@include M-circle(fill,#fff,20px);
	position: absolute;
	top: 15px;
	right: 15px;

	&:hover, &:focus {
		background: #939393;
		&:before, &:after {
			@include M-gt-ie8 {
				background-color: #fff;
			}
			color: #fff;
		}
	}
}




/**********************************
			WHOLE PAGE
**********************************/

.container { margin:0 auto; max-width:$bp-large; }


/**********************************
			HEADER
**********************************/

header {}


/**********************************
			MAIN AREA
**********************************/

#main{ }

.standard-content {//never attach styles directly to the standard-content class
	ol, ul { padding-left: 20px; }
	ol ol { list-style: lower-alpha; }
	ol ol ol { list-style: lower-roman; }
	ol ol ol ol { list-style: decimal; }
	li { font-size: $body-font-size; margin-top: 0.5em;
		&:first-child { margin-top: 0; }
	}
	li li { font-size: 1em;
		&:first-child { margin-top: 0.5em; }
	}
}

/**********************************
			FOOTER
**********************************/

footer{ }

