/**********************************
			ELEMENTS
**********************************/

html {
	font-size: 62.5%; //Makes it easier to alter font size with em's. 1.3em = 13px
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 { color: $darkGrey; font-weight: bold; }
h1 { font-size:3em; }
h2 { font-size:2.5em; }
h3 { font-size:2.2em; }
h4 { font-size:2em; }
h5 { font-size:1.5em; font-style: italic;}
h6 { font-size: 1.3em; font-weight: normal; font-style: italic; }


p, li { font-size:1em; line-height:1.5em; }
p { margin: 0 0 1em; font-size: $body-font-size; }

//adds pre-loader background to images
img { background: url(../images/design/pre-loader.gif) center center no-repeat transparent; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#skipToContent {color: #333333; text-decoration: none; top: 15px; }

.noscript-message {
	padding: 20px;
	background-color: #ecb2b2;
	border: 1px solid #8c1717;
	color: #8c1717;
	box-shadow: 3px 3px 3px #999;
	z-index: 9999;
	position: relative;
	display: none;

	.no-js & { display: block;  }
	p { margin: 0; }
	a { color: darken(#8c1717, 15%); text-decoration: underline;
		&:hover, &:focus { text-decoration: none; }
	}
}

//.icon { @include M-icon(''); } //Not sure if I like having this or not :/

/************\
    Tables
\************/

table{text-align:left; width:100%;
	th, td { padding: 5px; }
	thead th {font-weight:bold;}
	tbody th{font-weight:bold;}
}

/************************
		Tools
************************/

.clear { clear: both; }

.js-count-up {
	@include M-animate(2s);
	white-space: nowrap;
	.js & { opacity: 0;}
	&.forced-visible { @extend %anti-animate !optional; }
	& + * { opacity: 0; @extend %animate !optional; }
	&.activate, &.forced-visible { opacity: 1;
		& + * { opacity: 1; }
	}
}

.js-alpha-count {
	@extend .js-count-up;
	@include M-animate(1s);
}

.js-popins__piece { opacity: 0;
	&.js-popins__piece--pop { @extend %popin; }
}

.js .lightbox-info { display: none; }

.tooltip { position: relative;
	@include M-mq(min,$bp-tablet){
		&:hover, &:focus {
			.tooltip-text {
				//can't use @extend, inside media query
				@include M-scale(1);
				@include M-opacity(1);
			}
		}
	}
}
.tooltip-text {
	@include M-scale(0);
	@include M-opacity(0);
	@include M-origin(bottom center);
	@include M-animate(0.2s);
	position: absolute;
	text-align: center;
	bottom: 150%;
	left: 50%;
	margin-left: -150px;
	background: #000;
	color: #fff;
	width: 300px;
	font-size: $body-font-size;
	padding: 10px;
	z-index: 5;

	@include M-before {
		@extend %centered-h;
		@include M-tri(down,#000,10px);
		top: 100%;
	}

	&.bellow {
		@include M-origin(top center);
		bottom: auto;
		top: 150%;
		&:before {
			@include M-tri(up,#000,10px);
			top: auto;
			bottom: 100%;
		}
	}
}

/****************\
	File icons
\***************/

a.external-link {
	@include M-icon(external,14px,$pos:after){
		color: #1C4B92;
		margin-left: 5px;
	}
}

//FORMAT: M-download_icons($icon,$color,$lighten:40%,$desaturation:0%);
//mixin found in _project-specific.scss
#{files_link(pdf)} { @include M-download_icons(pdf,#b9282b); }
#{files_link((doc, docx))} { @include M-download_icons(word,#3617B4); }
#{files_link((xls, xlsx))} { @include M-download_icons(excel,#065B0E,50%,50%); }
#{files_link((ppt, pptx))} { @include M-download_icons(powerpoint,#E65A15,30%); }
#{files_link(txt)} { @include M-download_icons(text,#7B7B7B,30%); }
#{files_link(mp3)} { @include M-download_icons(audio,#680E7F,50%); }
a[href*="itunes"] { @include M-download_icons(podcast,#107A8F,$desaturation:20%); }
a.htmlDownload { @include M-download_icons(globe,#4469CE,30%); }




/**********************************
		General Form styles
**********************************/

select, input[type="file"] { cursor: pointer;}
select option { font-weight: 100; }
.js select, .js input[type="file"] { visibility: hidden; }

.styled-select {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	position: relative;
	cursor: pointer;
	z-index: 0;
	@include M-inline-block;
	@include M-animate(0.25s,background);
	//&:hover { background-color: $x-pale-grey; }

	//add the arrow with a css triangle
	@include M-before {
		@include M-tri('down',#000,5px,3px);
		@include M-centered(v);
		right: 12px;
	}

	//adding triangle with icon instead
	/*@include M-icon(arrow-down, 5px){
		color: #000;
		z-index: 0;
		@include M-centered(v);
		right: 10px;
	}*/

	//adds an optional left border to the arrow
	@include M-after {
		position: absolute;
		top: 20%;
		right: -1px;
		height: 60%;
		width: 32px;
		border-radius: 0;
		z-index: 0;
		border-left: 1px solid #ccc;
	}
	&.error:after { border-color: red; }

	select {
		@include M-appearance_none;
		width: 115%;
		border: none;
		background: transparent;
		//opera won't do a 100% transparent background on select boxes :(
		background: rgba(#fff,0.0001);
		visibility: visible;
		padding: 6px 0 5px 5px;
		position: relative;
		z-index: 2;
		//stops IE10+ getting a colored background after making a selection
		//unfortunately this doesn't work on IE<10 :(
		&:focus::-ms-value {background: transparent; color: $darkGrey; }
	}
}


/********* Custom checkbox and radio buttons **********/

$primary-color: #00959C;
$primary-hover: #006DA9;
$background-hover: #F0F0F0;

//ensures IE8 doesn't get the custom radios and check boxes (IE8 doesn't support ":checked")
@include M-gt-ie8 {
	input[type="radio"], input[type="checkbox"] {
		@extend %vh;

		+ label {
			padding-left: 25px;
			position: relative;
			cursor: pointer;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				@extend %animate-hover;
			}
			//background
			&:before {
				@include M-size(15px);
				background-color: #fff;
				border: 1px solid $primary-color;
				top: 2px;
				left: 0px;
			}
			//foreground
			&:after {
				@include M-size(9px);
				left: 3px;
				top: 5px;
				background-color: $primary-color;
				opacity: 0;
			}
		}

		&:focus + label, & + label:hover {
			&:before {
				background-color: $background-hover;
				border-color: $primary-hover;
			}
			&:after {
				background-color: $primary-hover;
			}
		}
		&:checked + label:after { @extend %opacity-1; }
	}

	input[type="radio"] + label {
		&:after, &:before {
			border-radius: 50%;
		}
	}
}

//ie8 checkbox styling
@include M-lt-ie9 {
	input[type="radio"], input[type="checkbox"] {
		float: left;
	}
}


/********* Custom check browse button **********/

.js .styled-browse-button { overflow: hidden; cursor: pointer;
	a {
		float: left;
		position: relative;
		overflow: hidden;
		margin-right: 10px;
		padding: 7px 40px;
		border: 1px solid #000;
		&.error { color: #7A0000; background-color: #FFE9DF; }
		&.error:hover { color: #FFE9DF; background-color: #7A0000; }
	}
	input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		@include M-opacity(0);
		cursor: pointer;
		visibility: visible;
	}
	.styled-browse-preview {
		font-size: 1.6em;
		line-height: 2.1em;
		float: left;
	}
}


/*
 -------------------------------------------------
				Custom lightbox styles
 -------------------------------------------------
*/

.lightbox-info {
	width: 600px;
	box-shadow: 0 5px 15px rgba(#000, 0.2);
	background-color: #FFF;
	border: 1px solid rgba(#000, 0.2);
	border-radius: 6px;
	outline: 0 none;
	position: relative;

	h2 {
		padding: 15px 50px 15px 20px;
		border-bottom: 1px solid #ccc;
		margin: 0;
	}
}

.info-content { padding: 20px;
	p { margin: 1em 0 0; }
	p:first-child { margin-top: 0; }
}

.custombox-overlay {
	background: rgba(#fff,0.5)!important;
}

.close-info-btn {

	//backup cross needs to be added
	@include M-cross(#939393,12px);

	@include M-animate(0.3s);


	@include M-circle(fill,#fff,20px);
	position: absolute;
	top: 15px;
	right: 15px;

	&:hover, &:focus {
		background: #939393;
		&:before, &:after {
			@include M-gt-ie8 {
				background-color: #fff;
			}
			color: #fff;
		}
	}
}




/**********************************
			WHOLE PAGE
**********************************/

.container { margin:0 auto; max-width:$bp-large; }


/**********************************
			HEADER
**********************************/

header {}


/**********************************
			MAIN AREA
**********************************/

#main{ }

.standard-content {//never attach styles directly to the standard-content class
	ol, ul { padding-left: 20px; }
	ol ol { list-style: lower-alpha; }
	ol ol ol { list-style: lower-roman; }
	ol ol ol ol { list-style: decimal; }
	li { font-size: $body-font-size; margin-top: 0.5em;
		&:first-child { margin-top: 0; }
	}
	li li { font-size: 1em;
		&:first-child { margin-top: 0.5em; }
	}
}

/**********************************
			FOOTER
**********************************/

footer{ }

