
//******************************************
//* BREAKPOINTS
//*******************************************/

//browser spec min-supported width: 320px (iPhones)

//break points
$bp-x-small: 350px; //essentially iphones in portrait view only

$bp-small: 480px;

$bp-mobile: 600px; //Maximum for strict mobile view

$bp-phablet: 770px; //Maximum for really large phones or really small tablets

$bp-tablet: 960px; //maximum for tablets in portrait

$bp-desktop: 1024px; //maximum for tablets in portrait landscape

$bp-large: 1200px; // Point at which the edge of the page meets the edge of the screen.

//******************************************
//* advanced selectors
//*******************************************/
$text_inputs: unquote('input[type=text], input[type=email], input[type=tel], input[type=password], textarea');

//usage:
//#{$text_inputs} {
	//...(content)...
//}

//******************************************
//* COLORS
//*******************************************/
$darkGrey:	 #E83628;


//******************************************
//* ICONS
//*******************************************/

//list of icon names and they're reference keys
$icons: (
	pdf: "\e600",
	word: "\e601",
	excel: "\e602",
	powerpoint: "\e603",
	text: "\e604",
	audio: "\e605",
	podcast: "\e606",
	globe: "\e607",
	external: "\e608",
);


@if ($main-sheet == true){

	//generates the .icon-XXX class associations
	@each $icon, $referenceKey in $icons {
	    .icon-#{$icon} {
	        content: $referenceKey;
	    }
	}

}



//******************************************
//* TYPOGRAPHY
//*******************************************/

// Base font families
$sans-serif:         "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:              "Georgia", Cambria, Times New Roman, Times, serif;

// Project font families
// i.e. $roboto: "roboto";
$gudea:        'Gudea', $sans-serif;

// Default Font Family
$body-font-family:  $gudea, $sans-serif;

// Font sizes
$reset-font-size:   62.5%; // sets to 10px so easier to scale up to required size i.e. 13px = 1.3em;
$body-font-size:    1.3em;
$body-font-weight:  400;


//******************************************
//* SPRITES
//*******************************************/
$sprite: url(../images/design/sprite.png);
$sprite2x: url(../images/design/sprite@2x.png);
$sprite_width: 50px;

$wide_sprite: url(../images/design/wide-sprite.png);
$wide_sprite2x: url(../images/design/wide-sprite@2x.png);