

//******************************************
//* advanced selectors
//*******************************************/
$text_inputs: unquote('input[type=text], input[type=email], input[type=tel], input[type=password], textarea');

//usage:
//#{$text_inputs} {
	//...(content)...
//}





//******************************************
//* TYPOGRAPHY
//*******************************************/

// Base font families
$sans-serif:         "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:              "Georgia", Cambria, Times New Roman, Times, serif;

// Project font families
// i.e. $roboto: "roboto";
$gudea:        'Gudea', $sans-serif;

// Default Font Family
$body-font-family:  $gudea, $sans-serif;

// Font sizes
$reset-font-size:   62.5%; // sets to 10px so easier to scale up to required size i.e. 13px = 1.3em;
$body-font-size:    13;
$body-font-weight:  400;


//******************************************
//* SPRITES
//*******************************************/
$sprite: url(../images/design/sprite.png);
$sprite2x: url(../images/design/sprite@2x.png);
$sprite_width: 50px;

$wide_sprite: url(../images/design/wide-sprite.png);
$wide_sprite2x: url(../images/design/wide-sprite@2x.png);