
/*================================================*\
	BASE ELEMENT STYLING
//----------------------------------------------------
//	This file holds base styling for elements.
//	NO CLASSES ALLOWED!
//	these are essentially site resets
\*================================================*/

*, *:before, *:after {
	//Makes fonts smoother
	font-smoothing: antialiased;

	//supposedly this makes fonts cleaner but it makes fonts not appear in safari
	//text-rendering: optimizeLegibility;

	//all elements are given border-box box-sizing
	@include M-box-sizing(border-box);
}

//Makes it easier to alter font size with rem's. 1.3rem = 13px
html { font-size: 62.5%; }

//Sets default font size for the site to 1.3rem with a 13px backup.
//Setting the font-size using the mixin is the best way to set fonts.
body { @include M-font-size(13); }

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
	//allows body elements to sit hard up against the top border of their parent element without causing spacing issues later in the text.
	&:first-child { margin-top: 0 }
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 { color: $grey-1; font-weight: $bold; }
h1 { @include M-font-size(40); }
h2 { @include M-font-size(30); }
h3 { @include M-font-size(25); }
h4 { @include M-font-size(20); }
h5 { @include M-font-size(17); font-style: italic;}
h6 { @include M-font-size(15); font-weight: normal; font-style: italic; }


p, li { @include M-line-height(15); }
p { margin: 0 0 1em; }

//adds pre-loader background to images
img { background: url(../images/design/pre-loader.gif) center center no-repeat transparent; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

//makes nav default to not having dot points
nav ul { @extend %noDots; }

label, input[type=radio], input[type=checkbox] { cursor: pointer; }

/************\
    Tables
\************/
table{text-align:left; width:100%;
	th, td { padding: 5px; }
	thead th {font-weight: $bold;}
	tbody th{font-weight: $bold;}
}
