/*================================================*\
	BUTTONS STYLES
//----------------------------------------------------
//	This file holds the base styling for buttons
//	around the site
\*================================================*/

.btn {
	padding: 5px 10px;
	background: $purple-1;
	color: #fff;
	@extend %animate--fast !optional;
	&:hover, &:focus {
		background: $purple-3;
	}
}

$iconBtns: pdf, word;

@each $icon in $iconBtns {
    .btn-#{$icon} {
    	@include M-icon($icon);
    }
}
