/*================================================*\
	BUTTONS STYLES
//----------------------------------------------------
//	This file holds the base styling for buttons
//	around the site
\*================================================*/

.btn {
	padding: 5px 10px;
	background: $c-btn-bg-1;
	color: $c-btn-txt-1;
	&:hover, &:focus {
		background: $c-btn-bg-1-hover;
		color: $c-btn-txt-1-hover;
	}
}

$iconBtns: pdf, word;

@each $icon in $iconBtns {
    .btn-#{$icon} {
    	@include M-icon($icon);
    }
}
