/*================================================*\
	Forms Base
----------------------------------------------------
	This file holds global styling for
	general forms (NOT specific forms)
\*================================================*/

//all text input types (including the new HTML5 ones)
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="url"],
input[type="week"],
textarea {
	//sets the placeholder color to the lightest possible grey against white that is AA complient
	@include M-placeholder;
}


select, input[type="file"] { cursor: pointer;}
select option { font-weight: 100; }
.js select, .js input[type="file"] { visibility: hidden; }


/********* Custom select boxes **********/

.styled-select {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	position: relative;
	cursor: pointer;
	z-index: 0;
	@include M-inline-block;
	@include M-animate(0.25s,background);
	//&:hover { background-color: $x-pale-grey; }

	//add the arrow with a css triangle
	@include M-before {
		@include M-tri('down',#000,5px,3px);
		@include M-centered(v);
		right: 12px;
	}

	//adding triangle with icon instead
	/*@include M-icon(arrow-down, 5px){
		color: #000;
		z-index: 0;
		@include M-centered(v);
		right: 10px;
	}*/

	//adds an optional left border to the arrow
	@include M-after {
		position: absolute;
		top: 20%;
		right: -1px;
		height: 60%;
		width: 32px;
		border-radius: 0;
		z-index: 0;
		border-left: 1px solid #ccc;
	}
	&.error:after { border-color: red; }

	select {
		@include M-appearance_none;
		width: 115%;
		border: none;
		background: transparent;
		//opera won't do a 100% transparent background on select boxes :(
		background: rgba(#fff,0.0001);
		visibility: visible;
		padding: 6px 0 5px 5px;
		position: relative;
		z-index: 2;
		//stops IE10+ getting a colored background after making a selection
		//unfortunately this doesn't work on IE<10 :(
		&:focus::-ms-value {background: transparent; color: $darkGrey; }
	}
}


/********* Custom checkbox and radio buttons **********/

$primary-color: #00959C;
$primary-hover: #006DA9;
$background-hover: #F0F0F0;

//ensures IE8 doesn't get the custom radios and check boxes (IE8 doesn't support ":checked")
@include M-gt-ie8 {
	input[type="radio"], input[type="checkbox"] {
		@extend %vh;

		+ label {
			padding-left: 25px;
			position: relative;
			cursor: pointer;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				@extend %animate-hover;
			}
			//background
			&:before {
				@include M-size(15px);
				background-color: #fff;
				border: 1px solid $primary-color;
				top: 2px;
				left: 0px;
			}
			//foreground
			&:after {
				@include M-size(9px);
				left: 3px;
				top: 5px;
				background-color: $primary-color;
				opacity: 0;
			}
		}

		&:focus + label, & + label:hover {
			&:before {
				background-color: $background-hover;
				border-color: $primary-hover;
			}
			&:after {
				background-color: $primary-hover;
			}
		}
		&:checked + label:after { @extend %opacity-1; }
	}

	input[type="radio"] + label {
		&:after, &:before {
			border-radius: 50%;
		}
	}
}

//ie8 checkbox styling
@include M-lt-ie9 {
	input[type="radio"], input[type="checkbox"] {
		float: left;
	}
}


/********* Custom check browse button **********/

.js .styled-browse-button { overflow: hidden; cursor: pointer;
	a {
		float: left;
		position: relative;
		overflow: hidden;
		margin-right: 10px;
		padding: 7px 40px;
		border: 1px solid #000;
		&.error { color: #7A0000; background-color: #FFE9DF; }
		&.error:hover { color: #FFE9DF; background-color: #7A0000; }
	}
	input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		@include M-opacity(0);
		cursor: pointer;
		visibility: visible;
	}
	.styled-browse-preview {
		font-size: 1.6em;
		line-height: 2.1em;
		float: left;
	}
}
