
$BP-block--indent: bp('page') + $VG-block-spacing;

.grid {
	&--gutter{
		&-blocks, &-footNav {
			@include M-mq(max,$BP-block--indent){
				&,>.grid-cell {
					margin-left: 0!important;
					margin-right: 0!important;
				}
			}
		}
	}
}