.btn {
	font-size: 14px;
	background-color: CG-brand(1);
	color: CG-brand(1, 'text');
	@include MG-animate;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 3px;
	font-weight: $semi-bold;
	text-align: center;
	transition: all 0.25s ease-in-out;
	@include MG-hover {
		text-decoration: none;
		background-color: CG-brand(1, 'hover');
	}
}