
$V-line-width: 225%;

$MQ-numbers--are-smaller: (max, bp('mobile'));
$MQ-numbers--are-pulledUp: (inside, $BPG-home--scrollAnimated, bp('tablet'));

$MQ-slashPos--is-mobileAdjusted: (max, bp('tiny') + 20);

.homeSplash {
	z-index: 5;
	@include M-mq($MQG-home--is-scrollAnimated){
		height: calc(100vh - 40px);
	}
	&__introText {
		float: none;
		width: 100%;
		max-width: 340px;
		clear: left;
		margin-top: 0;
		padding-right: 0;
		@include M-mq($MQG-home--not-scrollAnimated){
			max-width: 500px;
			margin: 0 auto;
			width: auto;
			text-align: center;
			padding: 20px 30px;
			&.TK-nonLargeScreen { display: block!important; }
		}
	}
	.internalHeader__siteName {
		margin-bottom: 35px;
	}

	&__numbers {
		margin-top: 0;
		@include M-centered;
		width: 50%;
		max-width: 225px;
		padding-bottom: 225px;
		height: 0;
		@include M-mq($MQG-home--not-scrollAnimated){
			position: relative;
			margin: 0 auto 20px;
		}
		@include M-mq($MQ-numbers--are-pulledUp){
			margin-top: -200px;
		}
		/*@include M-mq($MQ-numbers--are-smaller){
		}*/
	}
		&__slash {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto ((-$V-line-width + 100) / 2);
			@include M-rotate(-45);
			@include M-line(h, $CB-grey-dark, $V-line-width, 2px);
			@include M-mq($MQG-home--not-scrollAnimated){
				width: 150%;
				margin: 0;
				margin-left: -20%;
				margin-top: 50%;
			}
			@include M-mq($MQ-slashPos--is-mobileAdjusted){
				margin-top: 75%;
			}
		}
		&__number {
			position: absolute;
			top: 0;
			left: 0;
			@include M-font-size(100px);
			font-weight: $bold;
			line-height: 1;
			&--right {
				top: auto;
				left: auto;
				right: 0;
				bottom: 0;
			}
			@include M-mq($MQ-numbers--are-smaller){
				@include M-font-size(80px);
			}
		}
}