
$C-tri-top: #133a51;
$C-tri-bottom: #12293a;

$C-shape-bg: #1A79BE;

$V-tri-size: 200%;
$V-tri-size--small: 175%;

$V-tri-border: 40px solid $CB-blue-dark;
$V-triCorner-size: 35%;

$V-shape-size: 315px;
$V-shapeTri-size: 300px;

$V-pieSeg-width: $V-shape-size / 2;

$MQ-visual--is-shrunk: (max, bp('small'));

.igEstablished {
	z-index: 1;

	&__sideContent {
		z-index: 10;
		color: #fff;
		max-width: 250px;
		@include M-centered(both, 'modern');
	}
		&__heading {
			color: #fff;
		}
		&__stageIndicators {
			padding: 40px 20px;
			position: relative;
		}
			&__indicatorTrack {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 2px;
				background-color: #0B2232;
				padding: 25px 0;
			}
				&__trackInner {
					position: relative;
					height: 100%;
				}
					&__indicator {
						position: absolute;
						top: 0;
						right: 0;
						width: 100%;
						height: 33%;
						background-color: #fff;
					}
			&__infoStage {
				@include M-font-size(22px);
				line-height: 1.1;
				font-weight: $normal;
			}
				&__jumpLink {
					color: #fff;
				}
	&__mainArea {
		@include M-mq($MQG-home--is-scrollAnimated){
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
		}
	}
		&__content {
			@include M-mq($MQG-home--is-scrollAnimated){
				max-width: 460px;
				@include M-centered(both, 'modern');
			}
		}
	&__visualOuter {
		@include M-mq($MQ-visual--is-shrunk){
			@include M-scale(0.5);
			margin: -80px -20px;
		}
	}
		&__visual {
			position: relative;
			@include M-size($V-shape-size);
			margin: 30px auto;
			@include M-scale(0);

			@include M-mq($MQG-home--not-scrollAnimated){
				margin: 80px auto 0px;
			}
		}
			&__DTO {
				&-shape {
					@include M-centered;
				}
				&-triangle {
					@include M-tri(up, $C-shape-bg, $V-shapeTri-size, round($V-shapeTri-size * 0.57));
					top: -25%;
					left: -3%;
					@include M-scale(0);
				}
				&-circle {
					@include M-circle('fill', $C-shape-bg, $V-shape-size);
					border: 0px solid #000;
					overflow: hidden;
					box-shadow: $VG-commonShadow;
				}
				&-imagery {
					position: relative;
					z-index: 2;
					//opacity: 0;
				}
				&-icon {
					@include M-centered;
					@include M-icon-size(40px, $width: 55px);
					color: #fff;
					@include M-scale(0);
					opacity: 0;
				}
				&-letters {
					@include M-centered;
					@include M-icon-size(150px, $width: 100%);
					line-height: 1;
				    font-weight: 700;
				    letter-spacing: -14px;
				    color: #fff;
					font-family: Arial, sans-serif;
				}
			}

			&__BCR {
				&-pieSeg {
					@include M-circle(fill, #fff, $V-shape-size);
					width: $V-pieSeg-width;
					position: absolute;
					top: -10px;
					display: none;
					&--left {
						border-radius: $V-pieSeg-width 0 0 $V-pieSeg-width;
						left: -10px;
						@include M-rotate(45, right center);
					}
					&--right {
						border-radius: 0 $V-pieSeg-width $V-pieSeg-width 0;
						right: -10px;
						@include M-rotate(45, left center);
					}

					&--fill {
						background-color: transparent;
						@include M-rotate(45);
					}

					&--lines {
						div {
							$line-width: 13px;
							$line-gutter: 15px;
							position: absolute;
							background: CG-prominence(2);
							width: $line-width;
							border-radius: $line-width;

							@for $i from 1 through 4 {
							    &:nth-child(#{$i}) {
									right: ($line-width + $line-gutter ) * ($i - 1) + $line-gutter;
									top: 5px + (15px * $i);
									bottom: 55% + (3 * $i);
							    }
							}
						}
					}
					&--dots {
						//generated using: http://enjoycss.com/nzx#background
						background: -webkit-radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 100%), -webkit-radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 34%, rgba(0,0,0,0) 100%), rgba(147,148,148,0);
						background: -moz-radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 100%), -moz-radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 34%, rgba(0,0,0,0) 100%), rgba(147,148,148,0);
						background: radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 100%), radial-gradient(#1cacd6 0, #1cacd6 33%, rgba(0,0,0,0) 34%, rgba(0,0,0,0) 100%), rgba(147,148,148,0);
						background-position: 0 0, 30px 30px;
						-webkit-background-origin: padding-box;
						background-origin: padding-box;
						-webkit-background-clip: border-box;
						background-clip: border-box;
						-webkit-background-size: 30px 30px;
						background-size: 30px 30px;
					}
				}
			}

			&__CS {
				&-gradient {
					position: absolute;
					left: 0;
					top: -200%;
					height: 300%;
					width: 100%;
					$gradient:
						CG-prominence(1) 0%,
						CG-prominence(1, partner) 33.33%,
						CG-prominence(1) 66.66%,
						CG-prominence(1, partner) 100%,
					;
					@include M-multi-grad($gradient, v);

					$CS-grad-anim:
						(top: -200%),
						(top: 0)
					;
					@include M-kf-animate(CS-grad-anim, $CS-grad-anim, 5s)
				}
				&-icon {
					border-radius: 50%;
					@include M-centered;
					@include M-icon-size($V-shape-size * 0.8, $V-shape-size - 15px);
					line-height: 1;
					background-color: $CG-bodyInnerBG;
					@include M-scale(0);
				}
			}
		&__text {
			p { margin-top: 10px; display: none; }
		}
			&__mobText {
				position: absolute;
				top: 20px;
				left: 0;
			}
}