
$MG-visual--is-shrunk: (max, bp('small'));

$module: 'nbn';

.#{$module} {
	z-index: 3;
	&__infographic {
		@include M-mq($MQG-home--not-scrollAnimated){
			@include M-flexWrap;
		}
	}
	&__heading {
		@include M-mq($MQG-home--is-scrollAnimated){
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
		}
		@include M-mq($MQG-home--not-scrollAnimated){
			width: 100%;
			br { display: none; }
		}
	}
	&__content {
		overflow: auto;
		max-height: 100%;
		font-weight: $normal;
		strong { font-weight: $bold; }
		a:after {
			color: #615002!important;
		}
	}
		&__visual {
			text-align: center;
			margin: 0 auto;
			max-width: 330px;
			@include M-mq($MQG-home--is-scrollAnimated){
				margin-top: 100px;
			}
			@include M-mq($MQG-home--not-scrollAnimated){
				width: 100%;
			}
			@include M-mq($MG-visual--is-shrunk){
				@include M-scale(0.8);
				margin: -20px auto;
			}
		}
			&__topText {
				font-weight: $bold;
				@include M-font-size(20px);
			}
			&__lines {
				margin-top: 10px;
				&--top {
					.#{$module}__line {
						&--1 {}
						&--2 {}
						&--3 {}
					}
				}
				&--bottom {
					@include M-mq($MQG-home--is-scrollAnimated){
						margin-top: -10px;

						.#{$module}__line {
							&--1 {}
							&--2 {
								top: 20px;
							}
							&--3 {}
						}
					}
				}
			}
				&__line {
					&--1 {
						//right: 50%;
					}
					&--2 {
						//left: 50%;
					}
					&--3 {
						//left: 50%;
					}
				}
			&__icons {
				margin-top: 10px;
				width: 120%;
				margin-left: -10%;
			}
				&__iconHolder {
					margin: 0 auto;
					&--satellite {
						margin-right: 0;
					}
				}
					&__icon {
						text-align: center;
						display: block;
						&.iconHome-fixedLines {
							@include M-icon-size(25px, $width: 100%);
							margin: 10px 0;
						}
						&.iconHome-fixedWireless {
							@include M-icon-size(40px, $width: 100%);
							margin-bottom: 5px;
						}
						&.iconHome-satellite {
							@include M-icon-size(45px, $width: 100%);
						}
					}
					&__iconText {
						@include M-font-size(17px);
						font-weight: $bold;
						line-height: 1;
					}
		&__result {
			@include M-font-size(19px);
			font-weight: $semi-bold;
			line-height: 1;
			margin-top: 15px;

			strong {
				font-size: 2.5em;
				font-family: $gafata;
				font-weight: $normal;
				display: block;
			}
		}
}