
$C-svg-fill: $CG-homeBG-dark;
$C-static-overide: $CB-blue-light;

$C-text: $C-svg-fill;

$MQ-svg--is-shifted: (max-ratio, '352/225');//thinner screens than this require the shift

$module: 'spectrum';

.#{$module} {

	&__visualBG {
		@include M-mq($MQG-home--not-scrollAnimated){
			background: $C-svg-fill;
			overflow: hidden;
			margin-top: 20px;
		}
	}
		&__visualWidth {
			@include M-mq($MQG-home--not-scrollAnimated){
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
				position: relative;
			}
		}
			&__visualHeight {
				@include M-mq($MQG-home--not-scrollAnimated){
					width: 100%;
					padding-bottom: 100%;
					height: 0;
				}
			}

	&__svgWrap {
		@include M-rotate(-45, top right);
		width: 160vh;
		position: absolute;
		//opacity: 0;
		@include M-mq($MQG-home--is-scrollAnimated){
			//top: -49%;
			top: -15vw;
			right: 45%;
		}
		@include M-mq($MQG-home--not-scrollAnimated){
		    top: -50%;
		    left: -110%;
		    width: 220%;
		}
		@include M-mq($MQ-svg--is-shifted){
			right: 48%;
		}

//
    /*
	@include M-rotate(-45, bottom right);
	top: -22vw;
    right: 25%;
    width: 180vh;*/
	}
		&__svg {
			display: block;
			position: relative;
			z-index: 2;
		}
			&__mask {
				fill: $C-svg-fill;
			}
		&__svgBG {
			position: absolute;
			height: auto;
			width: auto;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			z-index: 1;
		}

		&__svgMaskedContent {
			background: url(../images/design/static.png);
			overflow: hidden;
			$staicFizz:
				0% (background-position: 25px 75px),
				25% (background-position: 50px 25px),
				50% (background-position: 0px 50px),
				75% (background-position: 75px 25px),
				100% (background-position: 50px 75px),
			;
			@include M-kf-animate(staicFizz, $staicFizz, 0.3s);
		}
			&__circle {
				@include M-centered(both, 'modern');
				width: 110%;
				@include M-before{
					@include M-circle(fill, $C-static-overide, 100%);
				}
			}
			&__gradient {
				@include M-multi-grad((
					CG-prominence(1),
					CG-prominence(1, 'partner'),
					CG-prominence(1, 'partner'),
					CG-prominence(1)
				));
				background-size: 500px;
				opacity: 0;
				$grad-animation:
					(background-position: 0 0),
					(background-position: 500px 0)
				;
				@include M-kf-animate(spectrum-grad-animation, $grad-animation, 1s);
			}
		&__svgCover {
			position: absolute;
			top: 0;
			width: 300%;
			height: 100%;
			//right: 0;
			right: -300%;
			@include M-multi-grad((
				rgba($C-svg-fill,0),
				rgba($C-svg-fill,0),
				$C-svg-fill,
				$C-svg-fill,
			));
			&--gradient {
				opacity: 0;
				@include M-multi-grad((
					rgba($C-static-overide,0),
					rgba($C-static-overide,0),
					$C-static-overide,
					$C-static-overide,
				));
			}
		}

	&__highlight {
		position: absolute;
		width: 210px;
		color: #fff;
		font-weight: $normal;
		text-align: center;
		line-height: 1;
		text-shadow: 0 0 5px #000;
		@include M-mq($MQG-home--not-scrollAnimated){
			width: 100%;
		}
		strong {
			display: block;
			font-weight: normal;
			font-family: $gafata;
			@include M-font-size(50px);
		}
		@include M-mq($MQG-home--is-scrollAnimated){
			top: 5%;
			left: 5%;
		}
		@include M-mq($MQG-home--not-scrollAnimated){
			@include M-centered(both,'modern');
			top: 33%;
		}
	}
		&__highlightItem {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin-top: 0;
			opacity: 0;
			@include M-mq($MQG-home--not-scrollAnimated){
				background-color: rgba($C-svg-fill, 0.8);
				padding: 10px 10px 20px;
			}
		}
			&__highlightInner {
				@include M-mq($MQG-home--not-scrollAnimated){
					max-width: 210px;
					width: 100%;
					margin: 0 auto;
					display: block;
				}
			}

	&__content {
		color: $C-text;
		max-width: 360px;
		font-weight: $normal;
		strong { font-weight: $bold; }
	}
		&__heading {
			margin-bottom: 50px;
		}
		&__mobHeading {
			color: #fff;
		}
}