
//***********************************\
//		CSS 3 shortening
//************************************/

@mixin M-opacity($opacity){
	@if ($lt-ie9 == false){
		opacity: $opacity;
	} @else {
		$ie_opacity: $opacity * 100;
		zoom: 1;
		filter: alpha(opactiy=$ie_opacity);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=$ie_opacity);
	}
}
//opacity 0 and 1 are the most common settings,
//use this if no other rules needed
%opacity-0 { @include M-opacity(0); }
%opacity-1 { @include M-opacity(1); }

//BOX SHADOW no longer needs pre-fixes

//BORDER RADIUS no longer needs pre-fixes

//change the origin point of css transforms
@mixin M-origin ($origin: 0px 0px) {
	@include M-gt-ie8 {
		transform-origin: $origin;
	}
}

//CSS3 element rotation
//$axis accepts X or Y (capitalised)
@mixin M-rotate ($angle: 90,$origin: center, $axis: unquote('')) {
	@include M-gt-ie8 {
		-webkit-transform: unquote('rotate#{$axis}(#{$angle}deg)'); //* Safari and Chrome */
		    -ms-transform: unquote('rotate#{$axis}(#{$angle}deg)'); //* IE 9 */
		        transform: unquote('rotate#{$axis}(#{$angle}deg)');

		@if ($origin != center) {
			@include M-origin($origin);
		}
	}
}


//CSS3 element scale
@mixin M-scale ($scale: 1,$origin: center) {
	@include M-gt-ie8 {
		transform: scale($scale);

		@if ($origin != center) {
			@include M-origin($origin);
		}
	}
}
//scale 1 and 0 are the most commonly used values
%scale-1 { @include M-scale(1); }
%scale-0 { @include M-scale(0); }