///*================================================*\
//	ICON MIXINS
//----------------------------------------------------
//	Quickly and easily add icons from the icon font
//	your site.
//
//	These are the mixins you would use in your
//	style sheet:

//	@include M-icon(icon_name, color, icon_height, icon_width);
	// the standard way to add an icon with scss

//	@include M-mq-icon(icon_name, color, icon_height, icon_width);
	//(same as M-icon() but self contained for media queries)

//	@include M-icon-size(icon_height, icon_width);
	// set the size of an icon that was added using a class

//	icon(icon_name);
	//the easiest way to get an icon reference key

//*================================================*/


//Quick and easy icon reference function
@function icon($icon_name){
	@return map-get($icons, $icon_name)
}


/////////////////////////
//CONSTANT ICON STYLES//
//
///////////////////////

//styles that are the same for all icons
@mixin M-icon-static-styles {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
    text-align: center;
	vertical-align: middle;

	//* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%M-icon-static-styles {
	@include M-icon-static-styles;
}

//styles that require altering from icon to icon
@mixin M-icon-dynamic-styles($icon, $color: inherit, $height: false, $width:$height, $display: inline-block){
	content:  icon($icon);
	display: $display;
	@if ( $color != inherit ){
		color: $color;
	}
	@include M-icon-size($height, $width);
}

@if ($main-sheet == true){

	[class^="icon-"], [class*=" icon-"] {
		&:before, &:after {
			display: inline-block;
			@extend %M-icon-static-styles;
		}
	}

}



//////////////////
//SETTING ICONS//
////////////////

//set the size of the icon and makes it work with the M-centered mixin
//This is good on it's own when addressing an icon that was added with an icon class
@mixin M-icon-size ($icon-height, $icon-width: $icon-height) {
	@if ($icon-height != false){
		font-size: $icon-height;
		line-height: $icon-height;
		@include M-size($icon-height, $icon-width);
		text-align: center;
	}
}

// GOOD FOR MOST CIRCUMSTANCES
// Moves majority of static icon styles into a single rule to cut down css bulk
@mixin M-icon($icon, $color: inherit, $height: false, $width:$height, $display: inline-block, $pos:before) {

	@if ($pos == before){
		&:before {
			@extend %M-icon-static-styles;
			@include M-icon-dynamic-styles($icon, $color, $height, $width, $display);
			@content;
		}

	} @else if ($pos == after){
		&:after {
			@extend %M-icon-static-styles;
			@include M-icon-dynamic-styles($icon, $color, $height, $width, $display);
			@content;
		}
	}
} ;

//GOOD FOR MEDIA QUERIES
//Self contained to prevent errors in media queries
@mixin M-mq-icon($icon, $colour: inherit, $height: false, $width:$height, $display: inline-block, $pos:before) {

	@if ($pos == before){
		&:before {
			@include M-icon-static-styles;
			@include M-icon-dynamic-styles($icon, $color, $height, $width, $display);
			@content;
		}
	} @else if ($pos == after){
		&:after {
			@include M-icon-static-styles;
			@include M-icon-dynamic-styles($icon, $color, $height, $width, $display);
			@content;
		}
	}
} ;
