// ******************************************************\
// * DEVICE WIDTHS
// ******************************************************/
$fix-mqs: false !default;

@mixin M-mq($min-or-max, $width: $breakpoint-tablet, $width-2: null) {

	//prevent media query overlap
	@if $min-or-max == min {
		$width: $width + 1;
	}

	@if ($lt-ie9 == true) {
		@if $fix-mqs >= $width and $min-or-max == min and $width-2 == null {
			@content;
		}
	}

	@else {

		// if has both min and max-widths
		@if $width-2 {
			$width-2: $width-2 - 1;//prevent media query overlap
			@media screen and (min-width: $width) and (max-width: $width-2) {
				@content;
			}
		}

		// else output min or max width
		@else {
			@if $min-or-max == min{
				@media screen and (min-width: $width) {
					@content;
				}
			}
			@else if $min-or-max == max {
				@media screen and (max-width: $width) {
					@content;
				}
			}
		}
	}
}

@mixin M-retina {
  	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192ppi),
		only screen and (                min-resolution: 2dppx) {
			@content;
	}
}

//**********************************\
//	Resolution specific elements
//*********************************/
%hide { display: none; }

@mixin M-mobile-only {
	@extend %hide;
	@include M-mq(max,$bp-mobile){
		display: block;
	}
}
%mobile-only { @include M-mobile-only; }

@mixin M-tablet-only {
	@extend %hide;
	@include M-mq(min-max,$bp-mobile,$bp-tablet){
		display: block;
	}
}
%tablet-only { @include M-tablet-only }

@mixin M-desktop-only {
	@extend %hide;
	@include M-mq(min,$bp-tablet){
		display: block;
	}
}
%desktop-only { @include M-desktop-only; }

@mixin M-non-mobile { display: block;
	@include M-mq(max, $bp-mobile){
		display: none;
	}
}
%non-mobile { @include M-non-mobile }


// ******************************************************\
// * IE SPECIFIC RULES
// ******************************************************/

@mixin M-lt-ie9 {
    @if ($lt-ie9 == true) {
        @content;
    }
}

@mixin M-gt-ie8 {
    @if ($lt-ie9 == false) {
        @content;
    }
}


// ******************************************************\
// * PRINT
// ******************************************************/
@mixin M-print {
	@media print {
		@content;
	}
}