@mixin M-sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin M-sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin M-sprite-position($sprite) {
  background-position: map-get($sprite, 'offset_x') map-get($sprite, 'offset_y');
}

@mixin M-sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin M-sprite($sprite) {
  @include M-sprite-image($sprite);
  @include M-sprite-position($sprite);
  @include M-sprite-width($sprite);
  @include M-sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin M-sprites($spritesheet) {
  $sprites: map-get($spritesheet, 'sprites');
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .sprite-#{$sprite-name}:before {
		@include M-sprite-position($sprite);
		@include M-sprite-width($sprite);
		@include M-sprite-height($sprite);
    }
  }
}

@if ($main-sheet == true){
	[class*=" sprite-"], [class^="sprite-"] {
		@include M-before{
			@include M-sprite-image($spritesheet-lowdef);
		}
	}
	@include M-sprites($spritesheet-lowdef);
}