
//manually list all spritesheet variables here
$spritesheets:
	$spritesheet-alldevices,
	$spritesheet-highdef;


@mixin M-sprite-width($sprite, $retina: true) {

	$sprite_width: map-get($sprite, 'width');
	$width:  $sprite_width;

	@if ($retina == true) {
		$width: $sprite_width / 2;
	}

	width: $width;
}

@mixin M-sprite-height($sprite, $retina: true) {

	$sprite_height: map-get($sprite, 'height');
	$height:  $sprite_height;

	@if ($retina == true) {
		$height: $sprite_height / 2;
	}

	height: $height;
}

@mixin M-sprite-position($sprite, $retina: true) {

	$sprite-x: map-get($sprite, 'offset_x');
	$sprite-y: map-get($sprite, 'offset_y');

	$x: $sprite-x;
	$y:  $sprite-y;

	@if ($retina: true) {
		$x: $sprite-x / 2;
		$y:  $sprite-y / 2;
	}

	background-position: $x $y;
}

@mixin M-sprite-image($spritesheet: $spritesheet-highdef) {
	@if ($spritesheet == $spritesheet-highdef){
		background-image: url(../images/auto-sprite/LowDef-autosprite.png);
		@include M-retina {
			background-size: (map-get($spritesheet, 'width') / 2)( map-get($spritesheet, 'height') / 2);
			background-image: url(map-get($spritesheet, 'image'));
		}
	} @else {
		background-image: url(map-get($spritesheet, 'image'));
	}
}

@mixin M-sprite($sprite, $spritesheet: $spritesheet-lowdef, $retina-sheet: $spritesheet-highdef) {
  @include M-sprite-position($sprite);
  @include M-sprite-width($sprite);
  @include M-sprite-height($sprite);
  @include M-sprite-image($spritesheet, $retina-sheet);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin M-sprites($spritesheet) {
  $sprites: map-get($spritesheet, 'sprites');
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .sprite-#{$sprite-name}:before {
		@include M-sprite-position($sprite);
		@include M-sprite-width($sprite);
		@include M-sprite-height($sprite);
    }
  }
}


//generates the sprite classes
@if ($main-sheet == true){
	[class*=" sprite-"], [class^="sprite-"] {
		@include M-before(inline-block){
			@include M-sprite-image($spritesheet-highdef);
		}
	}
	@each $sheet in $spritesheets {
		@include M-sprites($sheet);
	}
}