
$V-numberWidth: 40%;

$C-link-bg--hover: $CB-grey-mid;

$MQ-item--is-defaultWidth: (min, bp('page'));
$MQ-item--is-quarterWidth: (inside, bp('page'),  bp('tablet'));
$MQ-item--is-halfWidth: (max,bp('tablet'));
$MQ-item--is-fullWidth: (max, bp('mobile'));

$module: 'footChapters';

.#{$module} {
	background-color: $CG-bodyInnerBG;
	position: relative;
	border-top: 10px solid #fff;
	.relativePages + & { border-top: none; }
	&__list {
		padding: 0 20px;
		overflow: hidden;
	}
		&__item {
			@include M-mq($MQ-item--is-defaultWidth){
				&:nth-child(2) { width: 16%; }
				&:nth-child(3) { width: 18%; }
				&:nth-child(4) { width: 15%; }
			}
			//width: percentage(1/7);
			@include M-mq($MQ-item--is-quarterWidth){
				&:nth-child(-n+3){//selects the first 3 elements
					width: 33.33%;
				}
			}
			@include M-mq($MQ-item--is-halfWidth){
				width: 50%;
			}
			@include M-mq($MQ-item--is-fullWidth){
				width: 100%;
			}
		}
			&__link {
				padding: 25px 0;
				padding-left: $V-numberWidth;
				padding-right: 8%;
				position: relative;
				width: 100%;
				&:before {
					@include M-centered(v);
					width: $V-numberWidth;
					text-align: center;
					z-index: 2;
				}
				@if ($gt-ie8) {
					@include M-after {
						position: absolute;
						top: 0;
						left: 50%;
						z-index: 0;
						background: $C-link-bg--hover;
						width: 0;
						height: 100%;
						@include M-animate(0.3s);
						opacity: 0;
						@include M-transform(translateX(-50%) skew(-45deg));
					}
				}
				&--isActive {
					color: #000;
					.#{$module} {
						&__linkInner {
							font-weight: $bold;
						}
					}
					&:after {
					}
				}
				@include M-hover {
					text-decoration: none;
					&:after {
						width: 100%;
						opacity: 1;
					}
					@if ($ie8) {
						background-color: $C-link-bg--hover;
					}
				}
			}
				&__linkInner {
					@include M-font-size(15px);
					word-break: keep-all;
					font-weight: $normal;
					color: #000;
					line-height: 1.2;
					position: relative;
					z-index: 1;
				}
}