
$C-inSection-bg: CG-prominence(2);
$C-inSection-text: #fff;

$C-upNext-bg: #fff;
$C-upNext-text: $CB-blue-dark;
$C-upNext-bg--hover: CG-prominence(1);

$MQ-block--is-fullWidth: (max, 920px);

$MQ-block--is-spacedAtTop: (min, bp('mobile'));

$module: 'relativePages';

.#{$module} {
	@include M-grad($C-inSection-bg, #fff, h, 60%, 40%);
	overflow: hidden;
	margin: 0;
	@if($lt-ie10){ background: $C-inSection-bg; }

	@include M-mq($MQ-block--is-spacedAtTop){
		margin: 80px 0 0;
	}

	&__grid {
		@include M-mq($MQ-block--is-fullWidth){
			@include M-flexDirection(column-reverse);
		}
	}

	&__block {
		padding: 12px $VG-block-spacing;
		@include M-mq($MQ-block--is-fullWidth){
			width: 100%!important;
		}
	}
		&__inner {
			z-index: 2;
			position: relative;
		}
			&__heading {
				@include M-font-size(17px);
				font-weight: $bold;
				margin: 0 0 7px;
				font-family: $openSans;
			}

			&__item {
				@include M-font-size(17px);
				margin-top: 0;
				strong {
					@include M-font-size(11px);
					text-transform: uppercase;
				}
			}


	&__inSection {
		background-color: $C-inSection-bg;
		padding-right: 200px;
		position: relative;
		* { color: $C-inSection-text; }
		@include M-before {
			@include M-fill((right: 7%));
			@include M-skew;
			z-index: 1;
			background-color: $C-inSection-bg;
		}
		@include M-mq($MQ-block--is-fullWidth){
			padding-right: $VG-block-spacing;
		}
	}
		&__link {
			position: relative;
			display: block;
			@include M-before{
				position: absolute;
				top: 0;
				@if($gt-ie8){ left: 50%; }
				z-index: 0;
				background: CG-prominence(1);
				@include M-transform(translateX(-50%) skew(-45deg));
				height: 100%;
				width: 0;
				background-color: tint($C-inSection-bg, 7%);
				@include M-animate(0.3s);
				opacity: 0;
			}
			@include M-hover {
				text-decoration: none;
				&:before {
					width: 110%;
					opacity: 1;
				}
			}
		}
			&__linkInner {
				position: relative;
				z-index: 3;
			}

	&__upNext {
		background-color: $C-upNext-bg;
		position: relative;
		* { color: $C-upNext-text; }
		@include M-before-after {
			position: absolute;
			right: 100%;
			top: 0;
		}
		&:before {
			@include M-tri(up, $C-upNext-bg, 700px, 0);
		}
		&:after {
			@include M-animate(0.4s);
			@include M-skew;
			background: $C-upNext-bg--hover;
			left: -13%;
			width: 0%;
			height: 100%;
			z-index: 1;
		}
		@include M-hover {
			text-decoration: none;
			&:after {
				width: 130%;
			}
		}
	}

}