
.countUp {
	@include M-animate(2s);
	white-space: nowrap;
	.js & { opacity: 0;}
	&--isForcedVisible { @extend %anti-animate !optional; }
	//& + * { opacity: 0; @extend %animate !optional; }
	&--hasActivated, &--isForcedVisible { opacity: 1;
		& + * { opacity: 1; }
	}

	&--alpha {
		@include M-animate(1s);
	}
}
