/*================================================*\
	THEMES
\*================================================*/
//	All theme related css goes here.
//
//	Change theme by giving the body a class called:
//	theme-THEME_NAME
//
//	Apply theme styling to elements by giving the
//	affected elements a class called:
//	themed-CLASS_NAME
//
//	Add your css rules exactly as you would normaly
//	inside the css attributes section of the array
//=================================================

//list of themes
$themes: (

	//*theme name*/
	dark: (

		//*themed element class name*/
		nav: (

			///*css attributes*/
			background: #000,
			color: #fff,
			border: 2px solid #ccc,
		),
		header: (
			background: #042A38,
			color: #E0E0E0,
		),
		footer: (
			background: #6E6E6E,
			color: #fff,
		),
	),

	light: (
		nav: (
			background: #EDFF91,
			color: #000,
			border: 2px dotted #000,
		),
		header: (
			background: #CBFFB6,
			color: #000,
			border: 2px dotted green,
		),
		footer: (
			background: #FFCDEE,
			color: #000,
			border: 2px dotted red,
		),
	),
);

@each $theme, $elements in $themes {
	body.theme--#{$theme} {
		@each $class, $attributes in $elements {
			.theme__#{$class} {
				@each $attribute, $value in $attributes {
					#{$attribute}: $value;
				}
			}
		}
	}
}

	//optional: animate theme transitions :)
[class^="theme__"], [class*=" theme__"]  { @include MG-animate(0.5s); }


