
/*================================================*\
	LIGHTBOX STYLES
//-----------------------------------------------
//	Holds the styles for lightbox pop ups
\*================================================*/


.js .lightbox-info { display: none; }


.lightbox-info {
	width: 600px;
	box-shadow: 0 5px 15px rgba(#000, 0.2);
	background-color: #FFF;
	border: 1px solid rgba(#000, 0.2);
	border-radius: 6px;
	outline: 0 none;
	position: relative;

	h2 {
		padding: 15px 50px 15px 20px;
		border-bottom: 1px solid #ccc;
		margin: 0;
	}
}

.info-content { padding: 20px;
	p { margin: 1em 0 0; }
	p:first-child { margin-top: 0; }
}

.custombox-overlay {
	background: rgba(#fff,0.5)!important;
}

.close-info-btn {

	//backup cross needs to be added
	@include M-cross(#939393,12px);

	@include M-animate(0.3s);


	@include M-circle(fill,#fff,20px);
	position: absolute;
	top: 15px;
	right: 15px;

	&:hover, &:focus {
		background: #939393;
		&:before, &:after {
			@include M-gt-ie8 {
				background-color: #fff;
			}
			color: #fff;
		}
	}
}

