
/*================================================*\
	LISTING STYLES
//-----------------------------------------------
//	Holds the styles for listing related elements
\*================================================*/

$itemPadding: 10px;

.listing {
	&-item {
		position: relative;
		padding: $itemPadding;
		border-top: 1px solid $c-listing-bdr-1;
		&:first-child { border: none; }
	}
	&-thumbnail {
		@include M-size(100px);
		position: absolute;
		top: $itemPadding;
		left: $itemPadding;
		overflow: hidden;
		img { display: block; width: 100%; }
	}
	&-content {
		margin-left: 100px + $itemPadding;
	}
	&-heading {
		//
	}
	&-link {
		//
	}
	&-txt {
		//
	}
}

.pagination {
	text-align: center;
	&-item {
		@include M-inline-block;
	}
	&-link {
		&--active {
			cursor: default;
		}
	}
}