
/*================================================*\
	OTHER MODULES
//-----------------------------------------------
//	If it's small and doesn't really fit anywhere
//	where else you can out it here. If it starts
//	getting big, make a new file for it.
\*================================================*/


.skipLink-primary {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	color: #fff;
	text-decoration: underline;
}

.js-countUp {
	@include M-animate(2s);
	white-space: nowrap;
	.js & { opacity: 0;}
	&.forced-visible { @extend %anti-animate !optional; }
	& + * { opacity: 0; @extend %animate !optional; }
	&.activate, &.forced-visible { opacity: 1;
		& + * { opacity: 1; }
	}
}

.js-alphaCount {
	@extend .js-countUp;
	@include M-animate(1s);
}

.js-popins-piece { opacity: 0;
	&.js-popins-piece--pop { @extend %popin !optional; }
}
