//all text input types (including the new HTML5 ones)
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="url"],
input[type="week"],
textarea {
	//sets the placeholder color to the lightest possible grey against white that is AA complient
	@extend %inputStyling;
	width: 100%;
	@include M-animate('fast');
	@include M-placeholder;
	@include M-hover { background-color: $c-inputFocus; }
	&.#{$errorClass} { background-color: $c-error-bg; border-color: $c-error-border;
		@include M-hover {
			background-color: $c-error-bg--hover;
		}
	}
}