//submit button resets

[type="submit"] {
	@extend %appearanceNone;
	border: none;
	cursor: pointer;
	.js &.styledSubmit { @include M-opacity(0); }
}

.styledSubmit {
	position: relative;
	cursor: pointer;
	input[type="submit"] {

		@include M-fill;
		opacity: 0;

		@include M-lt-ie9 {
			background: transparent;
			text-indent: -999em;
			border: none;
		}
	}
}