/********* Custom check browse button **********/
input[type="file"] {
	cursor: pointer;
	.js & {
		@include M-opacity(0);
	}
}

.styledBrowse {
	.js & {
		overflow: hidden;
		cursor: pointer;

		a {
			float: left;
			position: relative;
			overflow: hidden;
			margin-right: 10px;
			padding: 7px 40px;
			border: 1px solid #000;
			&.error { color: $CB-red-dark; background-color: $CB-red-light; }
			&.error:hover { background-color: $CB-red-light--hover; }
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			@extend %opacity-0;
			cursor: pointer;
			visibility: visible;
		}
		&__preview {
			line-height: 2.1em;
			float: left;
		}
	}
}
