///*================================================*\
//	COLORS
//----------------------------------------------------
//	All color variables are listed here
//
//	first in line = lightest
//	last in line = darkest
//
//	Number = prominence/reference
//	Don't stress about the number too much but
//	1 should be the most used version of that
//	color on the site
//
//*================================================*/


//Purple
$purple-2: #C4A6CF;
$purple-1: #742890;
$purple-3: #350044;

//Green
$green-2: #B7D84B;
$green-3: #98B732;
$green-1: #74A330;

//red
$red-4: #FFD1D1;
$red-3: #F15F3F;
$red-2: #CD492B;
$red-1: #A22709;

//orange
$orange-1: #F6971D;

//grey
$grey-3: #F5F5F5;
$grey-2: #CCCCCC;
$grey-5: #999999;
$grey-4: #6F6F6F;
$grey-1: #333333;


