//================================================*\
//*	gridS CONFIGURATION FILE						*/
//----------------------------------------------------
//	This file holds all the configurable aspects of
//	the grid class system
//================================================*/

//You can alter the available grid gutter sizes here
//usage: .grid--gutter-20
$cellGutters: 5, 10, 15, 20, 25, 30, 35;

//You can alter the available grid outline thicknesses here
//usage: .grid--outline-2
$cellOutlines: 1, 2, 3, 4, 5;

//You can alter the available grid outline thicknesses here
//usage: .grid--outline-2
$cellBorders: 1, 2, 3, 4, 5, 10;

//You can alter the available grid padding sizes here
//usage: .grid--padding-20
$cellPadding: 5, 10, 15, 20, 25, 30;


//Set the points at which columns change widths
//@class [string]: The modifier class added to the grid class eg. .grid--halves
//@breaks [list OR false booleen]: a list of screensizes at which point the column width changes
	//@breaks position 1: the screen size the new width is applied to
	//@breaks position 2: the new width of the columns at the specified screen size
$cellWidths: (
		class: full,
		default: 100%,
		breaks: false,
	), (
		class: halves,
		default: percentage(1/2),
		breaks: (
			bp('mobile') 100%,//* At the "mobile" screen size, make the columns 100% width */
		),
	), (
		class: thirds,
		default: percentage(1/3),
		breaks: (
			bp('mobile') 100%,
		),
	), (
		class: quarters,
		default: percentage(1/4),
		breaks: (
			bp('tablet') 50%,
			bp('mobile') 100%,
		),
	), (
		class: fiths,
		default: percentage(1/5),
		breaks: (
			bp('mid') 33.33%,
			bp('mobile') 50%,
			bp('small') 100%,
		),
	), (
		class: sixths,
		default: percentage(1/6),
		breaks:	(
			bp('mid') 33.33%,
			bp('mobile') 50%,
			bp('small') 100%,
		),
	)
;

//The prefixes applied to display:flex attributes
$flexPrefixes: ms webkit;
