/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$excel: (
  name: 'excel',
  x: 0px,
  y: 0px,
  offset_x: 0px,
  offset_y: 0px,
  width: 15px,
  height: 15px,
  total_width: 34px,
  total_height: 34px,
  image: '../images/auto-sprite/LowDef-autosprite.png'
);
$pdf: (
  name: 'pdf',
  x: 19px,
  y: 0px,
  offset_x: -19px,
  offset_y: 0px,
  width: 15px,
  height: 15px,
  total_width: 34px,
  total_height: 34px,
  image: '../images/auto-sprite/LowDef-autosprite.png'
);
$powerpoint: (
  name: 'powerpoint',
  x: 0px,
  y: 19px,
  offset_x: 0px,
  offset_y: -19px,
  width: 15px,
  height: 15px,
  total_width: 34px,
  total_height: 34px,
  image: '../images/auto-sprite/LowDef-autosprite.png'
);
$word: (
  name: 'word',
  x: 19px,
  y: 19px,
  offset_x: -19px,
  offset_y: -19px,
  width: 15px,
  height: 15px,
  total_width: 34px,
  total_height: 34px,
  image: '../images/auto-sprite/LowDef-autosprite.png'
);
$spritesheet-lowdef: (
  width: 34px,
  height: 34px,
  image: '../images/auto-sprite/LowDef-autosprite.png',
  sprites: $excel $pdf $powerpoint $word
);

