
//this module wraps around text spat out by a CMS editor.
//Elements inside this module can't have classes attatched

$C-listBorder: $CB-grey-light;

$C-dots: $CB-grey-dim;

$V-bodyText-paragraphSpacing: $VG-bodyText-paragraphSpacing;

.standardContent {

	a {
		font-weight: $normal;
		text-decoration: underline;
		color: $CG-baseLinkColor;
		&:before, &:after {
			@include M-animate;
		}
		@include M-hover {
			text-decoration: none;
		}
	}

	ul, ol {
		ul, ol {
			margin: 0;
		}
		li { margin-top: 10px; }
	}

	> ul, > ol {
		> li {
			margin: 0;
			border-top: 1px solid $C-listBorder;
			padding-top: 11px;
			padding-bottom: 11px;
			&:first-child {
				border-top: none;
				margin-top: 0;
			}
		}
	}

	ul {
		padding: 0;
		li {
			&:before {
				top: 20px;
			}

			list-style: none;
			padding: 5px 5px 5px 25px;
			position: relative;
			@include M-before {
				@include M-size(6px);
				position: absolute;
				top: 15px;
				left: 0;
				background-color: $C-dots;
			}
		}
	}


	h2, h3, {
		margin-top: 50px;
	}

	ol {
		counter-reset: li;
		margin-top: $V-bodyText-paragraphSpacing;
		list-style: none;
		padding-left: 0;
		li {
			padding-left: 25px;
			position: relative;
			&:before {
				content:counter(li)'.'; //* Use the counter as content */
				counter-increment:li; //* Increment the counter by 1 */
				position: absolute;
				left: 0;
				font-weight: $normal;
				color: $CB-blue-dim;
			}
			ol li {
				&:before {
					content:counter(li,lower-alpha)'.';
				}
				ol li {
					&:before {
						content:counter(li,lower-roman)'.';
						left: auto;
						right: 100%;
						margin-right: -15px;
					}
				}
			}
		}
	}
}