
$MQ-test-single: max, bp('mobile');

$MQ-test-multiple:
	(inside, bp('large'), bp('tablet')),
	(min, bp('page'))
;

.demo {
	&__div {
		height: 200px;
		max-width: 500px;
	}

	&__searchIcon {
		@include MG-searchIcon(#000, 20px, 15px, 2px);
	}

	&__mediaQuery {
		color: #fff;
		@include MG-mq($MQ-test-single){
			background-color: red;
		}
		@include MG-mq($MQ-test-multiple){
			border: 5px dotted #fff;
			background: green;
		}
		@include MG-mq(min, bp('tablet')){
			background-color: purple;
		}

	}
	&__gradient {
		@include MG-grad(#ccc,#000,20deg);
	}
	&__multiGrad {
		@include MG-grad((
			#000 0px,
			green 10px,
			red 10px,
			orange 20px,
			blue 30px
		), radial, (
			backup: #000,
			repeat: true,
			radial-pos: top left,
			radial-type: circle,
			radial-range: farthest-corner
		));
	}

	&__triangle {
		@include MG-tri(up,#000,20px);
		//@extend %centered;
		//left: 20px;
	}

	&__autoSprite {
		@include MG-sprite($word);
		display: inline-block;
	}

	&__icon {
		@include MG-icon(word,blue,20px){
			margin-right: 10px;
		};
	}

	&__kfAnimate {
		padding: 5px 20px;
		$exampleAnimation:
			(margin: 0 30px, background: #FF0000),
			(margin: 0 60px, background: #008000),
			(margin: 0 30px, background: #FF0000),
		;

		@include MG-kf-animate(exampleAnimation, $exampleAnimation, 2s 1s, $ease: ease-in-out);
		&--multi {
			text-align: center;
			//EXAMPLE USAGE (multi attribute):
			$exampleAnimation--multi:
				0% (
					scale: 0,
					opacity: 0
				),
				80% (
					scale: 1,
					opacity: 1
				),
				100% (
					scale: 0,
					opacity: 0
				)
			;
			@include MG-kf-animate(
				exampleAnimation--multi,
				$exampleAnimation--multi,
				3s,
				infinite,
				linear
			);
		}



	}
}