.testAnimation {
	width: 500px;
	margin: 0 auto;
	background: red;
}

.rapidTest {
	@include MG-clearfix;
	&__list {
		border: 1px solid #000;
	}

	&__element {
		height: 100px;
		//width: 100px;
		//margin: 10px;
		float: left;
		background: red;
	}
}