
/*================================================*\
	ALERT STYLES
//-----------------------------------------------
//	Holds styles for alert boxes. These are elements
//	designed to bring the users attention to
//	something.
\*================================================*/

.alert {
	padding: 20px;
	border: 1px solid #000;

//alert box for people that have JS disabled
	&--nojs {
		z-index: 9999;
		position: relative;
		text-align: center;
		@if ($lt-ie10){ margin-top: 50px; }

		a { color: darken($CG-error-text, 15%); text-decoration: underline;
			&:hover, &:focus { text-decoration: none; }
		}
	}

//alert box for error messages
	&--error {
		background-color: $CG-error-bg;
		border-color: $CG-error-border;
		color:  $CG-error-text;
	}

//alert box to warn the user of something dangerous
	&--warning {
		//
	}

//alert box for when something has been done successfully
	&--success {
		//
	}

//alert box for when the user should know something
	&--info {
		//
	}
}

