/////////////////////////////
// global value variables //
///////////////////////////
//V- for value-

$VG-block-spacing: 50px;
$VG-block-spacing--mobile: 20px;

$VG-block-padding--v: 25px;
$VG-block-padding--h: 25px;
$VG-block-padding: $VG-block-padding--v $VG-block-padding--h;

$VG-block-shadow: 0 0 5px rgba(#000,0.2);


$VG-minBtnWidth: 120px;

$VG-footNav-spacing: 65px;

$VG-lineHeight--tight: 18;

$VG-bodyText-paragraphSpacing : 30px;

$VG-plus-size--outer: 28px;