.tiltParallax {
	&__scene {
		padding: 0;
		position: relative;
	}
		&__layer {
			list-style: none;
			position: absolute!important;

			margin: -25px 0 0 -25px;
			top: 50%!important;
			left: 50%!important;
			@include MG-size(50px);
		}
}