
/*================================================*\
	DOWNLOADABLE FILE LINKS
//-----------------------------------------------
//	Holds styles for links that lead to
//	downloadable documents
\*================================================*/


%file-static-styles {
	@extend %M-icon-static-styles;
	border: 1px solid #b9282b;
	padding: 2px 0;
	content: "";
	margin-right: 5px;
	width: 18px;
	text-align: center;
	font-size: 10px;
	line-height: 1.2;
};

@function files_link($files){
	$file_list: ();
	@for $i from 1 through length($files) {
		$file_list:
			append(	$file_list, (
					unquote(
						//adds a version of the file type as written
						'a[href$=".#{nth($files,$i)}"]'
					)
				), comma
			);
	}
	@for $i from 1 through length($files) {
		$file_list:
			append(	$file_list,	(
					unquote(
						//adds a capitalised version of the file type
						'a[href$=".#{to-upper-case(nth($files,$i))}"]'
					)
				), comma
			);
	}
	@return ($file_list);
}

@mixin M-download_icons($icon,$color,$lighten:40%,$desaturation:0%){
	@include MG-icon($icon){
		@extend %file-static-styles;
		color: $color;
		border-color: $color;
		@include MG-grad(desaturate(lighten($color,$lighten),$desaturation),desaturate(lighten($color,$lighten + 30),$desaturation), v, (backup: #fff));
	}
}



.externalLink-JS {
	@include MG-icon(external, inherit, 14px, $pos:after){
		margin-left: 5px;
	}
}

//FORMAT: M-download_icons($icon,$color,$lighten:40%,$desaturation:0%);
//mixin found in _project-specific.scss
#{files_link(pdf)} { @include M-download_icons(pdf,#b9282b); }
#{files_link((doc, docx))} { @include M-download_icons(word,#3617B4); }
#{files_link((xls, xlsx))} { @include M-download_icons(excel,#065B0E,50%,50%); }
#{files_link((ppt, pptx))} { @include M-download_icons(powerpoint,#E65A15,30%); }
#{files_link(txt)} { @include M-download_icons(hamburger,#7B7B7B,30%); }
#{files_link(mp3)} { @include M-download_icons(audio,#680E7F,50%); }
a[href*="itunes"] { @include M-download_icons(podcast,#107A8F,$desaturation:20%); }
a.htmlDownload { @include M-download_icons(globe,#4469CE,30%); }

