/////////////////////////////
// global value variables //
///////////////////////////
//V- for value-


$VG-standardContent-paragraphSpacing : 30px;

$VG-siteContainer-padding: 20px;

$VG-commonShadow: 0 2px 5px rgba(#0f134a,0.2);

$VG-block-spacing: 20px;
$VG-block-padding--v: 20px;
$VG-block-padding--h: 30px;

$VG-sideBar-width: 360px;