.testAnimation {
	width: 500px;
	margin: 0 auto;
	background: red;
}

.rapidTest {
	@include M-clearfix;
	&__element {
		height: 100px;
		width: 100px;
		margin: 10px;
		float: left;
		background: red;
	}
}