
$C-inner-bg: $CB-grey-light;

$MQ-module--not-padded: (max, bp('small'));

$MQ-module--disable-overflow: (max, bp('page'));

//A div that wraps around the entire site
.siteContainer {
	position: relative;
	border: $VG-siteContainer-borderWidth solid $CG-bodyBG;
	background-color: $C-inner-bg;

	&__inner {
		padding: $VG-siteContainer-padding;
		&--gradient {
			@if ($gt-ie8){ @include M-grad($C-inner-bg, #fff); }
		}

		@include M-mq($MQ-module--disable-overflow){
			overflow: hidden;
		}
	}

	@include M-mq($MQ-module--not-padded){
		border: none;
	}

}
