
$C-menu-bg: CG-prominence(1);

$module: 'homeHeadToolsBG';

.#{$module} {
	width: 470px;
	position: absolute;
	top: 0;
	right: 0;

	&__inner {
		@include M-fill((right: -50%, left: auto, top: 50%));
		padding-bottom: 100%;
		width: 100%;
		@include M-rotate(45);
	}
		&__menuBG {
			background-color: $C-menu-bg;
		}
		&__searchBG {
			@include M-grad(CG-prominence(1), CG-prominence(1, 'partner'), -45deg);
			background-color: red;
			@include M-size(75%);
			top: 11%;
			left: 15%;
		}

	&--endPos {
		.#{$module} {
			&__menuBG {
				top: -46.3%;
				left: -30%;
			}
			&__searchBG {
				top: -29%;
			}
		}
	}

	&.homeSplash__wrapper {
		opacity: 1;
		@include M-animate(0.5s);
		&--isHidden-JS { opacity: 0; }
	}
}