$C-tri-top: #133a51;
$C-tri-bottom: #12293a;

$C-shape-bg: #1A79BE;

$C-tri-border: $CB-blue-dark;

$C-negSpace-bg: $CG-bodyInnerBG;

$V-tri-size: 200%;
$V-tri-size--small: 175%;

$V-tri-border-width: 40px;
$V-tri-border: $V-tri-border-width solid $C-tri-border;
$V-triCorner-size: 35%;

$V-shape-size: 315px;
$V-shapeTri-size: 300px;

$V-pieSeg-width: $V-shape-size / 2;

$module: 'homeSideTri';


@mixin M-triBorder($pos, $angle){

	$reversePos: switch($pos, (
		top: bottom,
		bottom: top,
	));

	&--#{$reversePos} {
		#{$pos}: 50%;
		@include M-rotate($angle, $pos right);
		&.#{$module} {
			&__negSpace--border {
				#{$pos}: calc(50% - #{$V-tri-border-width * 1.5});
			}
		}
	}
}

.#{$module}--usesOverlap {
	position: absolute;
	//top: 0;
	top: 135%;
	height: 100%;
	left: -$VG-siteContainer-padding;
	right: 40%;

	.#{$module} {
		&__outer {
			//@include M-rotate(45);
			overflow: hidden;
			position: absolute;
			top: 50%;
			margin-top: -$V-tri-size / 2;
			left: 0;
			@include M-grad($C-tri-top, $C-tri-bottom);
			padding-bottom: $V-tri-size;
			height: 0;
			width: 100%;
			outline: 5px solid $C-negSpace-bg;
			outline-offset: -2px;

			&--small {
				margin-top: -$V-tri-size--small / 2;
				left: -$V-tri-size--small / 2;
				padding-bottom: $V-tri-size--small;
				width: $V-tri-size--small;
			}
		}
			&__inner {
				@include M-fill;
				//border: $V-tri-border;
				z-index: 1;
				overflow: hidden;
			}
				&__content {
					position: absolute;
					top: 0;
					left: 0;
					@include M-size(100%);
					//@include M-grad(red, green, v);
				}
			&__corner {
				z-index: 2;
				//@include M-rotate(45);
				background-color: #7E8B97;
				border: $V-tri-border;
				position: absolute;
				top: 50%;
				left: 100%;
				margin-top: -$V-triCorner-size / 2;
				margin-left: -$V-triCorner-size / 2;
				@include M-size($V-triCorner-size);
				outline: 2px solid $CB-blue-dark;
				outline-offset: -1px;
			}

			&__negSpace {
				position: absolute;
				right: 0;
				@include M-size(200%);
				background: $C-negSpace-bg;
				z-index: 5;
				@include M-triBorder(top, -45);
				@include M-triBorder(bottom, 45);
				&--border {
					background: $C-tri-border;
					z-index: 1;
				}
			}
	}

}