$C-tri-top: #133a51;
$C-tri-bottom: #12293a;

$C-shape-bg: #1A79BE;

$V-tri-size: 200%;
$V-tri-size--small: 175%;

$V-tri-border: 40px solid $CB-blue-dark;
$V-triCorner-size: 35%;

$V-shape-size: 315px;
$V-shapeTri-size: 300px;

$V-pieSeg-width: $V-shape-size / 2;

$module: 'homeSideTri';

.#{$module}--usesRotate {
	position: absolute;
	//top: 0;
	top: 135%;
	height: 100%;
	left: -$VG-siteContainer-padding;
	right: 65%;

	.#{$module} {
		&__outer {
			@include M-rotate(45);
			overflow: hidden;
			position: absolute;
			top: 50%;
			margin-top: -$V-tri-size / 2;
			left: -$V-tri-size / 2;
			@include M-grad($C-tri-top, $C-tri-bottom, -225deg);
			padding-bottom: $V-tri-size;
			height: 0;
			width: $V-tri-size;
			&--small {
				margin-top: -$V-tri-size--small / 2;
				left: -$V-tri-size--small / 2;
				padding-bottom: $V-tri-size--small;
				width: $V-tri-size--small;
			}
		}
			&__inner {
				@include M-fill;
				border: $V-tri-border;
				z-index: 1;
				overflow: hidden;
			}
				&__content {
					position: absolute;
					top: 0;
					left: 0;
					@include M-size(100%);
					@include M-transform( rotate(-45deg) translateX(23%));
					//@include M-grad(red, green, v);
				}
			&__corner {
				z-index: 2;
				@include M-rotate(45);
				background-color: #7E8B97;
				border: $V-tri-border;
				position: absolute;
				top: - $V-triCorner-size / 2;
				right: -$V-triCorner-size / 2;
				margin-bottom: -$V-triCorner-size;
				margin-left: -$V-triCorner-size;
				@include M-size($V-triCorner-size);
				outline: 2px solid $CB-blue-dark;
				outline-offset: -1px;
			}
	}

}