
$A-arrow--downMovment:
	(bottom: 100%, opacity: 0),
	(opacity: 1),
	(opacity: 1, scale: 1),
	(bottom: 0, opacity: 0, scale: 0)
;

.scrollInstruction {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
	padding-bottom: 5px;
	//position: relative;
	&__animation {
		overflow: hidden;
		@include M-centered(h);
		height: 80px;
		top: 100%;
	}
		&__arrow {
			@include M-kf-definition(arrow--downMovement, $A-arrow--downMovment);
			@include M-icon('arrow--down',$CB-grey-dark, 20px, $width: 100%){
				@include M-centered;
			};
			@for $i from 1 through 3 {
			    &:nth-child(#{$i}):before {
			    	@include M-kf-predefined(arrow--downMovement, 3s (1s * ($i - 1)));
			    }
			}
		}
}