
///*================================================*\
//	ICONS
//----------------------------------------------------
//	All icon font icons are listed here.
//	List consists of icon name and reference key
//	icons can be added to an element with the class
//	.icon-ICON_NAME
//	or it be added with a mixin like this:
//	@include M-icon(icon_name, color, size);
//
// if adding the icon using the class, the element
//	holding the class does NOT need to be empty
//	eg, this is completely fine:
//	<li class="icon-globe">Globe</li>
//
//	The class only provides the icon,
//	it does not style the icon
//*================================================*/

//Use this regular expression to find/replace the css icomoon generates
//find: \.icon-([a-zA-Z0-9-_]*):before\s{\r\n\tcontent:\s("\\[a-zA-Z0-9]*");\r\n}\r
//replace with: \1: \2,

//expects this css format:
//.icon-ICON_NAME {
//	content: "\e123";
//}


//list of icon names and they're reference keys
$icons: (
	search: "\e617",
	spinner: "\e609",
	star--empty: "\e60a",
	star--half: "\e60b",
	star--full: "\e60c",
	cross: "\e60d",
	checkmark: "\e60e",
	external: "\e60f",
	twitter: "\e608",

	arrow--down: "\e610",
	arrow--left: "\e611",
	arrow--right: "\e612",
	arrow--up: "\e613",

	facebook: "\e614",
	fontsize: "\e615",
	rtf: "\e616",
	pdf: "\e600",
	word: "\e601",
	excel: "\e602",
	powerpoint: "\e603",
	hamburger: "\e604",
	audio: "\e605",
	podcast: "\e606",
	globe: "\e607",
);
