@import url(http://fonts.googleapis.com/css?family=Roboto);/*================================================*\
	MAIN CSS OUTPUT FILE (MODERN BROWSERS)
//-----------------------------------------------
//	This is the file that compiles the css for
//	modern browsers
\*================================================*/

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home { width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/

@font-face {
	font-family: 'icons';
	src: url("fonts/icons.eot?-nx4lre");
	src: url("fonts/icons.eot?#iefix-nx4lre") format("embedded-opentype"), url("fonts/icons.woff?-nx4lre") format("woff"), url("fonts/icons.ttf?-nx4lre") format("truetype"), url("fonts/icons.svg?-nx4lre#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*
@font-face { font-family: 'xxxxxxxxxxxxxx'; src: url('fonts/xxxxxxxxxxxxxx.eot'); src: local('Ôÿ║'), url('fonts/xxxxxxxxxxxxxx.woff') format('woff'), url('fonts/xxxxxxxxxxxxxx.ttf') format('truetype'), url('fonts/xxxxxxxxxxxxxx.svg#light') format('svg'); font-weight: normal; font-style: normal;
}
*/

.icon-pdf:before {
	content: "";
}

.icon-word:before {
	content: "";
}

.icon-excel:before {
	content: "";
}

.icon-powerpoint:before {
	content: "";
}

.icon-text:before {
	content: "";
}

.icon-audio:before {
	content: "";
}

.icon-podcast:before {
	content: "";
}

.icon-globe:before {
	content: "";
}

.icon-external:before {
	content: "";
}

.mobileOnly,
.tabletOnly,
.desktopOnly {
	display: none;
}

.nonMobile {
	display: block;
}

.js .styled-browse-button input {
	opacity: 0;
}

input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

nav ul,
.columns {
	margin: 0;
	padding: 0;
	list-style: none;
}

.appearanceNone,
.styled-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

.ir {
	font-size: 0em;
	text-shadow: none;
	color: transparent;
	text-transform: capitalize;
	display: block;
}

.ir2 {
	line-height: 999px;
	overflow: hidden;
	font-size: 0;
	color: transparent;
	text-transform: capitalize;
}

.vh,
.skipLink,
input[type="radio"],
input[type="checkbox"] {
	border: 0;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	opacity: 0;
}

.anti-vh,
.skipLink:active,
.skipLink :focus {
	width: auto;
	height: auto;
	position: static;
	opacity: 1;
}

.centered {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.tooltip-text:before {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.centered--v,
.centered--h,
.styled-select:before {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.clearFix:before,
.columns:before,
.clearFix:after,
.columns:after {
	content: "";
	display: table;
}

.clearFix:after,
.columns:after {
	clear: both;
}

[class^="icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after,
.btn-pdf:before,
.btn-word:before,
a[href$=".pdf"]:before,
a[href$=".PDF"]:before,
a[href$=".doc"]:before,
a[href$=".docx"]:before,
a[href$=".DOC"]:before,
a[href$=".DOCX"]:before,
a[href$=".xls"]:before,
a[href$=".xlsx"]:before,
a[href$=".XLS"]:before,
a[href$=".XLSX"]:before,
a[href$=".ppt"]:before,
a[href$=".pptx"]:before,
a[href$=".PPT"]:before,
a[href$=".PPTX"]:before,
a[href$=".txt"]:before,
a[href$=".TXT"]:before,
a[href$=".mp3"]:before,
a[href$=".MP3"]:before,
a[href*="itunes"]:before,
a.htmlDownload:before,
a.external-link:after,
#logo:before {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after {
	display: block;
}

/*
The `sprites` mixin generates identical output to the CSS template but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/

[class*=" sprite-"]:before,
[class^="sprite-"]:before {
	content: "";
	display: block;
	background-image: url("../images/auto-sprite/LowDef-autosprite.png");
}

.sprite-excel:before {
	background-position: 0px -34px;
	width: 30px;
	height: 29px;
}

.sprite-pdf:before {
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
}

.sprite-powerpoint:before {
	background-position: -34px -34px;
	width: 30px;
	height: 29px;
}

.sprite-word:before {
	background-position: -34px 0px;
	width: 30px;
	height: 30px;
}

.animate,
.js-countUp + *,
.js-alphaCount + * {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.animate--fast,
.btn,
input[type="radio"] + label:before,
input[type="radio"] + label:after,
input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.animate--slow {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.anti-animate,
.js-countUp.forced-visible,
.forced-visible.js-alphaCount {
	-webkit-transition: none !important;
	transition: none !important;
}

/*   SHARED ANIMATION EFFECTS   */

/*******************************************\
	RUMBLE EFFECT
---------------------------------------------
	Element jitteres from side to side
\*******************************************/

.rumble,
.rumble--onHover:hover {
	-webkit-animation: rumble 0.5s infinite linear;
	animation: rumble 0.5s infinite linear;
}

.rumbleSingle,
.rumbleSingle--onHover:hover {
	-webkit-animation: rumble 0.5s 1 linear;
	animation: rumble 0.5s 1 linear;
}

/*******************************************\
	SPIN EFFECT
---------------------------------------------
	Element spins around in one spot
\*******************************************/

.spin,
.spin--onHover:hover {
	-webkit-animation: spin 0.5s infinite linear;
	animation: spin 0.5s infinite linear;
}

.spinSingle,
.spinSingle--onHover:hover {
	-webkit-animation: spin 0.5s 1 linear;
	animation: spin 0.5s 1 linear;
}

/*******************************************\
	POP IN EFFECT
---------------------------------------------
	Element starts off hidden, then quickly
	grows large, then snaps to normal size
	(requires element to start at opacity:0)
\*******************************************/

.popin,
.js-popins-piece.js-popins-piece--pop {
	opacity: 1;
	-webkit-animation: popin 0.5s 1 ease-out;
	animation: popin 0.5s 1 ease-out;
}

/*******************************************\
	PULSE EFFECT
---------------------------------------------
	Element periodically grows slightly and
	then shrinks again.
\*******************************************/

.pulse,
.pulse--onHover:hover {
	-webkit-animation: pulse 1s infinite linear;
	animation: pulse 1s infinite linear;
}

.pulseSingle,
.pulseSingle--onHover:hover {
	-webkit-animation: pulse 1s 1 linear;
	animation: pulse 1s 1 linear;
}

/*================================================*\
	BASE ELEMENT STYLING
//----------------------------------------------------
//	This file holds base styling for elements.
//	NO CLASSES ALLOWED!
//	these are essentially site resets
\*================================================*/

*,
*:before,
*:after {
	font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(../htc/boxsizing.htc);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ul:first-child,
ol:first-child,
li:first-child {
	margin-top: 0;
}

/*HEADINGS*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6F6F6F;
	font-weight: 700;
}

h1 {
	font-size: 40px;
	font-size: 4rem;
	color: #fff;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 25px;
	font-size: 2.5rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 17px;
	font-size: 1.7rem;
	font-style: italic;
}

h6 {
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: normal;
	font-style: italic;
}

p,
li {
	line-height: 15px;
	line-height: 1.5rem;
}

p {
	margin: 0 0 1em;
}

img {
	background: url(../images/design/pre-loader.gif) center center no-repeat transparent;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label,
input[type=radio],
input[type=checkbox] {
	cursor: pointer;
}

/************\ Tables
\************/

table {
	text-align: left;
	width: 100%;
}

table th,
table td {
	padding: 5px;
}

table thead th {
	font-weight: 700;
}

table tbody th {
	font-weight: 700;
}

/*================================================*\
	THE TOOL KIT
//----------------------------------------------------
//	This file holds one off classes designed to be
//	used globally for a specific function
\*================================================*/

.noDots {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ir br {
	display: none;
}

.noWrap {
	white-space: nowrap;
}

.elipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hide {
	display: none;
}

.jsHide {
	display: none;
}

.no-js .jsHide {
	display: block;
}

.offScreen {
	position: absolute;
	left: -999em;
}

.clear {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.animate {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.animate--fast {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.animate--slow {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/*================================================*\
	BUTTONS STYLES
//----------------------------------------------------
//	This file holds the base styling for buttons
//	around the site
\*================================================*/

.btn {
	padding: 5px 10px;
	background: #742890;
	color: #fff;
}

.btn:hover,
.btn:focus {
	background: #341240;
}

.btn-pdf:before {
	content: "";
	display: inline-block;
}

.btn-word:before {
	content: "";
	display: inline-block;
}

/*================================================*\
	COLUMNS STYLING FILE
----------------------------------------------------
	This file holds all the classes that handle
	general site structure. A three column module
	would have the "column" and "thirds"
	class on it
\*================================================*/

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.column {
	float: left;
	padding: 0;
	margin: 0;
}

.full {
	width: 100%;
}

.halves {
	width: 50%;
}

.thirds {
	width: 33.33%;
}

.thirds.colspan2 {
	width: 66.66%;
}

.quarters {
	width: 25%;
}

.fiths {
	width: 20%;
}

.fiths.colspan2 {
	width: 40%;
}

.fiths.colspan3 {
	width: 60%;
}

.fiths.colspan4 {
	width: 80%;
}

.sixths {
	width: 16.66%;
}

.sixths.colspan5 {
	width: 83.33%;
}

/*================================================*\
	Forms Base
----------------------------------------------------
	This file holds global styling for
	general forms (NOT specific forms)
\*================================================*/

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #767676;
}

input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="range"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #767676;
	opacity: 1;
}

input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="range"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #767676;
	opacity: 1;
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #767676;
}

input[type=text]::input-placeholder,
input[type=email]::input-placeholder,
input[type=tel]::input-placeholder,
input[type=password]::input-placeholder,
input[type="time"]::input-placeholder,
input[type="date"]::input-placeholder,
input[type="datetime-local"]::input-placeholder,
input[type="month"]::input-placeholder,
input[type="number"]::input-placeholder,
input[type="range"]::input-placeholder,
input[type="search"]::input-placeholder,
input[type="url"]::input-placeholder,
input[type="week"]::input-placeholder,
textarea::input-placeholder {
	color: #767676;
}

select,
input[type="file"] {
	cursor: pointer;
}

select option {
	font-weight: 100;
}

.js select,
.js input[type="file"] {
	visibility: hidden;
}

/********* Custom select boxes **********/

.styled-select {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	position: relative;
	cursor: pointer;
	z-index: 0;
	display: inline-block;
	-webkit-transition: all 0.25s background;
	transition: all 0.25s background; /*@include M-icon(arrow-down, 5px){
	color: #000;
	z-index: 0;
	@include M-centered(v);
	right: 10px;
}*/
}

.styled-select:before {
	content: "";
	display: block;
	display: block;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	border-bottom: none;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	border-top: 5px solid #000;
	right: 12px;
}

.styled-select:after {
	content: "";
	display: block;
	position: absolute;
	top: 20%;
	right: -1px;
	height: 60%;
	width: 32px;
	border-radius: 0;
	z-index: 0;
	border-left: 1px solid #CCCCCC;
}

.styled-select.error:after {
	border-color: red;
}

.styled-select select {
	width: 115%;
	border: none;
	background: transparent;
	background: rgba(255, 255, 255, 0.0001);
	visibility: visible;
	padding: 6px 0 5px 5px;
	position: relative;
	z-index: 2;
	color: #333333;
}

.styled-select select:focus::-ms-value {
	background: transparent;
}

/********* Custom checkbox and radio buttons **********/

input[type="radio"] + label,
input[type="checkbox"] + label {
	padding-left: 25px;
	position: relative;
	cursor: pointer;
}

input[type="radio"] + label:before,
input[type="radio"] + label:after,
input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
	content: '';
	display: block;
	position: absolute;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
	height: 15px;
	width: 15px;
	background-color: #fff;
	border: 1px solid #742890;
	top: 2px;
	left: 0px;
}

input[type="radio"] + label:after,
input[type="checkbox"] + label:after {
	height: 9px;
	width: 9px;
	left: 3px;
	top: 5px;
	background-color: #742890;
	opacity: 0;
}

input[type="radio"]:focus + label:before,
input[type="radio"] + label:hover:before,
input[type="checkbox"]:focus + label:before,
input[type="checkbox"] + label:hover:before {
	background-color: #CCCCCC;
	border-color: #341240;
}

input[type="radio"]:focus + label:after,
input[type="radio"] + label:hover:after,
input[type="checkbox"]:focus + label:after,
input[type="checkbox"] + label:hover:after {
	background-color: #341240;
}

input[type="radio"] + label:after,
input[type="radio"] + label:before {
	border-radius: 50%;
}

/********* Custom check browse button **********/

.js .styled-browse-button {
	overflow: hidden;
	cursor: pointer;
}

.js .styled-browse-button a {
	float: left;
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	padding: 7px 40px;
	border: 1px solid #000;
}

.js .styled-browse-button a.error {
	color: #6A1A06;
	background-color: #F15F3F;
}

.js .styled-browse-button a.error:hover {
	background-color: #f8ae9e;
}

.js .styled-browse-button input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	visibility: visible;
}

.js .styled-browse-button .styled-browse-preview {
	font-size: 1.6em;
	line-height: 2.1em;
	float: left;
}

/*================================================*\
	FOOTER
//-----------------------------------------------
//	Holds styles for the site footer
\*================================================*/

/*================================================*\
	HEADER
//-----------------------------------------------
//	Holds styles for the site header
\*================================================*/

/*================================================*\
	PRIMARY NAV
//-----------------------------------------------
//	Holds styles for the primary navigation
\*================================================*/

/*================================================*\
	SIDEBAR / SECONDARY NAV STYLES
//-----------------------------------------------
//	Holds styles for the side bar. Most likely
//	this will mean the secondary navigation.
\*================================================*/

/*================================================*\
	ALERT STYLES
//-----------------------------------------------
//	Holds styles for alert boxes. These are elements
//	designed to bring the users attention to
//	something.
\*================================================*/

.alert-nojs {
	padding: 20px;
	background-color: #ecb2b2;
	border: 1px solid #8c1717;
	color: #8c1717;
	box-shadow: 3px 3px 3px #999;
	z-index: 9999;
	position: relative;
}

.alert-nojs p {
	margin: 0;
}

.alert-nojs a {
	color: #4a0c0c;
	text-decoration: underline;
}

.alert-nojs a:hover,
.alert-nojs a:focus {
	text-decoration: none;
}

.alert p:last-child {
	margin-bottom: 0;
}

/*================================================*\
	DOWNLOADABLE FILE LINKS
//-----------------------------------------------
//	Holds styles for links that lead to
//	downloadable documents
\*================================================*/

a[href$=".pdf"]:before,
a[href$=".PDF"]:before,
a[href$=".doc"]:before,
a[href$=".docx"]:before,
a[href$=".DOC"]:before,
a[href$=".DOCX"]:before,
a[href$=".xls"]:before,
a[href$=".xlsx"]:before,
a[href$=".XLS"]:before,
a[href$=".XLSX"]:before,
a[href$=".ppt"]:before,
a[href$=".pptx"]:before,
a[href$=".PPT"]:before,
a[href$=".PPTX"]:before,
a[href$=".txt"]:before,
a[href$=".TXT"]:before,
a[href$=".mp3"]:before,
a[href$=".MP3"]:before,
a[href*="itunes"]:before,
a.htmlDownload:before {
	border: 1px solid #b9282b;
	padding: 2px 0;
	content: "";
	margin-right: 5px;
	width: 18px;
	text-align: center;
	font-size: 10px;
}

a.external-link:after {
	content: "";
	display: inline-block;
	color: 14px;
	color: #1C4B92;
	margin-left: 5px;
}

a[href$=".pdf"]:before,
a[href$=".PDF"]:before {
	content: "";
	display: inline-block;
	color: #b9282b;
	border-color: #b9282b;
	background: #fff;
	background: -webkit-linear-gradient(top, #f1bcbd 0%, white 100%);
	background: linear-gradient(to bottom, #f1bcbd 0%, white 100%);
}

a[href$=".doc"]:before,
a[href$=".docx"]:before,
a[href$=".DOC"]:before,
a[href$=".DOCX"]:before {
	content: "";
	display: inline-block;
	color: #3617B4;
	border-color: #3617B4;
	background: #fff;
	background: -webkit-linear-gradient(top, #b3a4f3 0%, white 100%);
	background: linear-gradient(to bottom, #b3a4f3 0%, white 100%);
}

a[href$=".xls"]:before,
a[href$=".xlsx"]:before,
a[href$=".XLS"]:before,
a[href$=".XLSX"]:before {
	content: "";
	display: inline-block;
	color: #065B0E;
	border-color: #065B0E;
	background: #fff;
	background: -webkit-linear-gradient(top, #92ce98 0%, #fcfdfc 100%);
	background: linear-gradient(to bottom, #92ce98 0%, #fcfdfc 100%);
}

a[href$=".ppt"]:before,
a[href$=".pptx"]:before,
a[href$=".PPT"]:before,
a[href$=".PPTX"]:before {
	content: "";
	display: inline-block;
	color: #E65A15;
	border-color: #E65A15;
	background: #fff;
	background: -webkit-linear-gradient(top, #f6bb9e 0%, white 100%);
	background: linear-gradient(to bottom, #f6bb9e 0%, white 100%);
}

a[href$=".txt"]:before,
a[href$=".TXT"]:before {
	content: "";
	display: inline-block;
	color: #7B7B7B;
	border-color: #7B7B7B;
	background: #fff;
	background: -webkit-linear-gradient(top, #c8c8c8 0%, white 100%);
	background: linear-gradient(to bottom, #c8c8c8 0%, white 100%);
}

a[href$=".mp3"]:before,
a[href$=".MP3"]:before {
	content: "";
	display: inline-block;
	color: #680E7F;
	border-color: #680E7F;
	background: #fff;
	background: -webkit-linear-gradient(top, #e198f4 0%, white 100%);
	background: linear-gradient(to bottom, #e198f4 0%, white 100%);
}

a[href*="itunes"]:before {
	content: "";
	display: inline-block;
	color: #107A8F;
	border-color: #107A8F;
	background: #fff;
	background: -webkit-linear-gradient(top, #89d3e2 0%, white 100%);
	background: linear-gradient(to bottom, #89d3e2 0%, white 100%);
}

a.htmlDownload:before {
	content: "";
	display: inline-block;
	color: #4469CE;
	border-color: #4469CE;
	background: #fff;
	background: -webkit-linear-gradient(top, #bdcaee 0%, white 100%);
	background: linear-gradient(to bottom, #bdcaee 0%, white 100%);
}

/*================================================*\
	SPECIFIC FORMS
//-----------------------------------------------
//	Holds styles for forms that don't fit
//	the usual template
\*================================================*/

/*================================================*\
	LIGHTBOX STYLES
//-----------------------------------------------
//	Holds the styles for lightbox pop ups
\*================================================*/

.js .lightbox-info {
	display: none;
}

.lightbox-info {
	width: 600px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0 none;
	position: relative;
}

.lightbox-info h2 {
	padding: 15px 50px 15px 20px;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

.info-content {
	padding: 20px;
}

.info-content p {
	margin: 1em 0 0;
}

.info-content p:first-child {
	margin-top: 0;
}

.custombox-overlay {
	background: rgba(255, 255, 255, 0.5) !important;
}

.close-info-btn {
	position: relative;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
	display: block;
	height: 20px;
	width: 20px;
	background-color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
}

.close-info-btn:before,
.close-info-btn:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 0px solid #939393;
}

.close-info-btn:before {
	height: 0px;
	width: 12px;
	border-bottom-width: 2px;
}

.close-info-btn:after {
	height: 12px;
	width: 0px;
	border-left-width: 2px;
}

.close-info-btn:hover,
.close-info-btn:focus {
	background: #939393;
}

.close-info-btn:hover:before,
.close-info-btn:hover:after,
.close-info-btn:focus:before,
.close-info-btn:focus:after {
	background-color: #fff;
	color: #fff;
}

/*================================================*\
	LISTING STYLES
//-----------------------------------------------
//	Holds the styles for listing related elements
\*================================================*/

.listing-item {
	position: relative;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
}

.listing-item:first-child {
	border: none;
}

.listing-thumbnail {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 10px;
	overflow: hidden;
}

.listing-thumbnail img {
	display: block;
	width: 100%;
}

.listing-content {
	margin-left: 110px;
}

.pagination {
	text-align: center;
}

.pagination-item {
	display: inline-block;
}

.pagination-link--active {
	cursor: default;
}

/*================================================*\
	OTHER MODULES
//-----------------------------------------------
//	If it's small and doesn't really fit anywhere
//	where else you can out it here. If it starts
//	getting big, make a new file for it.
\*================================================*/

.skipLink-primary {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	color: #fff;
	text-decoration: underline;
}

.js-countUp,
.js-alphaCount {
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	white-space: nowrap;
}

.js .js-countUp,
.js .js-alphaCount {
	opacity: 0;
}

.js-countUp + *,
.js-alphaCount + * {
	opacity: 0;
}

.js-countUp.activate,
.activate.js-alphaCount,
.js-countUp.forced-visible,
.forced-visible.js-alphaCount {
	opacity: 1;
}

.js-countUp.activate + *,
.activate.js-alphaCount + *,
.js-countUp.forced-visible + *,
.forced-visible.js-alphaCount + * {
	opacity: 1;
}

.js-alphaCount {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.js-popins-piece {
	opacity: 0;
}

/*================================================*\
	ROTATOR STYLES
//-----------------------------------------------
//	Put any styles associated with a rotator
//	in this file
\*================================================*/

/*================================================*\
	TOOLTIP STYLES
//-----------------------------------------------
//	Holds the styles for the css tooltip
\*================================================*/

.tooltip {
	position: relative;
}

.tooltip-text {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: absolute;
	text-align: center;
	bottom: 150%;
	left: 50%;
	margin-left: -150px;
	background: #000;
	color: #fff;
	width: 300px;
	font-size: 13px;
	font-size: 1.3rem;
	padding: 10px;
	z-index: 5;
}

.tooltip-text:before {
	content: "";
	display: block;
	display: block;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	border-bottom: none;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-top: 10px solid #000;
	top: 100%;
}

.tooltip-bellow {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	bottom: auto;
	top: 150%;
}

.tooltip-bellow:before {
	display: block;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden;
	border-top: none;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #000;
	top: auto;
	bottom: 100%;
}

/**************************************************\
	Styles for styling the Swordion site.
	Remove this at the start of the project.
\*************************************************/

.downloads li:nth-child(2) {
	color: red !important;
}

#logo {
	padding: 50px;
	margin: 0;
}

#logo:before {
	content: "";
	display: inline-block;
	color: #000;
}

#equalTest div {
	border: 20px solid green;
	width: 50%;
	background: #FFB2B2;
	float: left;
}

.full-screen-div-example {
	background: #F1F49F;
}

.arrow.up {
	position: relative;
	display: block;
	height: 50px;
	width: 0px;
	border-left: 2px solid green;
	margin: 0 30px;
}

.arrow.up:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid green;
	height: 37.5px;
	width: 37.5px;
	right: 1px;
	top: -1px;
	border-bottom: none;
	border-left: none;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
}

.arrow.down {
	position: relative;
	display: block;
	height: 50px;
	width: 0px;
	border-left: 2px solid green;
	margin: 0 30px;
}

.arrow.down:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid green;
	height: 37.5px;
	width: 37.5px;
	right: 1px;
	bottom: -1px;
	border-top: none;
	border-left: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
}

.arrow.left {
	position: relative;
	display: block;
	height: 0px;
	width: 50px;
	border-bottom: 2px solid green;
	margin: 30px 0;
}

.arrow.left:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid green;
	height: 37.5px;
	width: 37.5px;
	left: -1px;
	bottom: -1px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
}

.arrow.right {
	position: relative;
	display: block;
	height: 0px;
	width: 50px;
	border-bottom: 2px solid green;
	margin: 30px 0;
}

.arrow.right:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid green;
	height: 37.5px;
	width: 37.5px;
	right: -1px;
	bottom: -1px;
	border-top: none;
	border-left: none;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;
}

/**********************************
		Animations
**********************************/

.animationDemoItem {
	margin: 5px;
	padding: 20px;
	background: #000;
	color: #fff;
	text-align: center;
}

.simpleAnimationExample {
	overflow: hidden;
}

.simpleAnimationExample .simpleAnimationExample-piece {
	position: relative;
}

.simpleAnimationExample .simple1 {
	opacity: 0;
}

.simpleAnimationExample .simple2 {
	bottom: 100%;
	left: 100%;
}

.simpleAnimationExample .simple3 {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.simpleAnimationExample.activate .simple1 {
	opacity: 1;
}

.simpleAnimationExample.stage2 .simple2 {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	bottom: 0;
	left: 0;
}

.simpleAnimationExample.stage3 .simple3 {
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/*================================================*\
	THEMES
\*================================================*/

body.theme-dark .themed-nav {
	background: #000;
	color: #fff;
	border: 2px solid #ccc;
}

body.theme-dark .themed-header {
	background: #000;
	color: #E0E0E0;
}

body.theme-dark .themed-footer {
	background: #6E6E6E;
	color: #fff;
}

body.theme-light .themed-nav {
	background: #fff;
	color: #000;
	border: 2px dotted #000;
}

body.theme-light .themed-header {
	background: #fff;
	color: #000;
}

body.theme-light .themed-footer {
	background: #fff;
	color: #000;
}

[class^="themed-"] {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/*! Built by Daniel Tonon - UX Developer - Reading Room Australia - January 2015 !*/

/*# sourceMappingURL=style.css.map */

@media screen and (min-width: 600px) and (max-width: 959px) {

.tabletOnly {
	display: block;
}

}

@media screen and (min-width: 961px) {

.desktopOnly {
	display: block;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

}

@media screen and (max-width: 960px) {

.quarters {
	width: 50%;
}

.fiths {
	width: 100%;
}

.fiths.colspan2 {
	width: 100%;
}

.fiths.colspan3 {
	width: 100%;
}

.fiths.colspan4 {
	width: 100%;
}

.sixths {
	width: 50%;
}

}

@media screen and (max-width: 600px) {

.mobileOnly {
	display: block;
}

.nonMobile {
	display: none;
}

.halves {
	width: 100%;
}

.thirds {
	width: 100%;
}

.thirds.colspan2 {
	width: 100%;
}

.quarters {
	width: 100%;
}

.sixths {
	width: 100%;
}

}

@media print {

/*================================================*\ 	PRINT STYLES //----------------------------------------------- //	Holds the print styles for the site \*================================================*/

* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

/*Black prints faster: sanbeiji.com/archives/953*/

a,
a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

/*Don't show links for images or js/internal links*/

pre,
blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

/*css-discuss.incutio.com/wiki/Printing_Tables*/

tr,
img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

.oldie * {
	box-sizing: content-box !important;
}

}

@-webkit-keyframes rumble {

0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

16.66667% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

33.33333% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

50% {
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

66.66667% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

83.33333% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

@keyframes rumble {

0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

16.66667% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

33.33333% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

50% {
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

66.66667% {
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

83.33333% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

@-webkit-keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@keyframes spin {

0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@-webkit-keyframes popin {

0% {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}

70% {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
}

100% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

}

@keyframes popin {

0% {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}

70% {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
}

100% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

}

@-webkit-keyframes pulse {

0% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

30% {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

50% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

100% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

}

@keyframes pulse {

0% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

30% {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

50% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

100% {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

}

