
// Base font families
$sans-serif:        Arial, sans-serif;
$serif:             Times New Roman, Times, serif;

// Project fonts
$openSans: 'Open Sans', $sans-serif;
$gafata: 'Gafata', $sans-serif;
$roboto: 'Roboto', $sans-serif;
