
$C-nonLink: $CB-grey-dimmer;

.breadcrumb {
	float: left;
	margin-top: 10px;
	&-item {
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
		margin-left: 15px;
		position: relative;
		color: $C-nonLink;
		@include M-icon('arrow-right',$C-nonLink,13px,$width:8px){
			@include M-centered(v);
			left: 0;
		};
		&:first-child {
			padding-left: 0;
			margin-left: 0;
			&:before { display: none; }
		}
	}
		&-inner {
			&--link {
				//
			}
			&--current {
				//
			}
			&--home {
			}
		}
			&-icon {
				@include M-icon-size(20px);
				position: relative;
				top: 1px;
			}
}