
$BP-stackImg: bp('mid');
$BP-unStackImg: bp('tablet');

$V-slimImg-width: 60px;

$C-link: $CG-listing-link;

$module: 'listing';

.#{$module} {
	@include M-noDots;
	&--slim {
		.#{$module} {
			&__item {
				@include M-mq('inside', $BP-unStackImg, $BP-stackImg){
					.#{$module} {
						&__imgContainer {
							float: none;
							display: block;
							margin: 0 auto;
						}
						&__content {
							margin-left: 0;
						}
					}
				}
			}
				&__imgContainer {
					width: $V-slimImg-width;
					float: left;
				}
				&__content {
					margin-left: $V-slimImg-width + 20;
				}
		}
	}

	&__item {
		@include M-clearfix;
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
	}
		&__imgContainer {
			margin-top: 5px;
		}

		&__title {
			margin-bottom: 10px;
		}
			&__titleLink {
				color: $C-link;
			}
		&__text {
			&--compact {
				p { margin-top: 0; }
			}
		}
}