
$C-numbers-bg: $CB-grey-light;

$MQ-numbers--are-hidden: (max, bp('mobile'));

$module: 'pagination';

.#{$module} {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid $CB-grey-light;

	&__text {
		position: relative;
		z-index: 3;
	}

	&__listWrap {
		margin: 0 100px;
	}
		&__list {
			@include M-flexAlign(space-around);
		}
			&__item {
				@include M-flexGrow(0);
				margin: 0!important;
				display: block;
				text-align: center;
				@include M-mq($MQ-numbers--are-hidden){
					&:not(.#{$module}__currentItem) { display: none!important; }
				}
			}
				&__page {
					text-decoration: none!important;
					position: relative;
					padding: 0px 10px;
					display: block;
				}
				&__link, &__current {
					@include M-after {
						@include M-animate;
						@include M-fill;
						//@include M-skew(-45deg);
						border-radius: 50%;
						left: 50%;
						width: 0;
						background: $C-numbers-bg;
					}
				}
				&__link {
					@include M-hover {
						&:after {
							left: 0;
							width: 100%;
						}
					}
				}
				&__current {
					&:after {
						left: 0;
						width: 100%;
						background-color: $C-numbers-bg;
						@include M-mq($MQ-numbers--are-hidden){
							display: none;//not displaying properly on iphone. not worth fixing.
						}
					}
				}
		&__nextPrevLink {
			position: relative;
			text-decoration: none!important;
			@include M-icon('arrow--left', inherit){
				@include M-centered(v);
				top: -2px;
				z-index: 3;
			};
			@include M-hover {
				text-decoration: underline!important;
			}
		}
		&__prev {
			float: left;
		}
			&__prevLink {
				padding-left: 20px;
				&:before {
					content: icon('arrow--left');
					left: 0;
				}
				@include M-hover{
					&:before {
						@include M-bob(left);
					}
					&:after {
						left: -15%!important;
						width: 135%!important;
					}
				}
			}
		&__next {
			float: right;
		}
			&__nextLink {
				padding-right: 20px;
				&:before {
					content: icon('arrow--right');
					right: 0;
				}
				@include M-hover{
					&:before {
						@include M-bob(right);
					}
					&:after {
						left: -25%!important;
						width: 150%!important;
					}
				}
			}
}