

/*icon font*/
@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-nx4lre');
	src:url('fonts/icons.eot?#iefix-nx4lre') format('embedded-opentype'),
		url('fonts/icons.woff?-nx4lre') format('woff'),
		url('fonts/icons.ttf?-nx4lre') format('truetype'),
		url('fonts/icons.svg?-nx4lre#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}



// if we need to do manual @fontface
//@font-face {
//    font-family: 'xxxxxxxxxxxxxxxx';
//    src: url('fonts/xxxxxxxxxxxxxx.eot');
//    src: local('☺'),
//         url('fonts/xxxxxxxxxxxxxx.woff') format('woff'),
//         url('fonts/xxxxxxxxxxxxxx.ttf') format('truetype'),
//         url('fonts/xxxxxxxxxxxxxx.svg#light') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}