//****************\
// Helper classes
//****************/

//image replacement
.ir{@include M-ir;}
.ir br{display:none;}

.nowrap { white-space: nowrap; }

.hidden{display:none;visibility:hidden;}

//visually hidden
.vh {@extend %vh}

//skip to content links
.vh.focusable:active,.vh.focusable:focus{@include M-anti-vh}

.invisible{visibility:hidden;}

.clearfix { @extend %clearfix; }
