/*================================================*\
	BUTTONS STYLES
//----------------------------------------------------
//	This file holds the base styling for buttons
//	around the site
\*================================================*/

$btnColors: (
	'grey': $grey-light $grey-light--hover,
);

$c-btn--hover: $grey-light;

.btn {
	padding: 15px 30px 15px 20px;
	border: 2px solid $c-primary;
	background: $c-primary;
	color: #000;
	position: relative;
	font-weight: bold;
	display: inline-block;
	@extend %animate--fast !optional;
	@include M-icon('arrow-thick--right',#000,16px,$width:10px,$pos:after){
		@extend %centered--v;
		right: 12px;
	};
	&:hover, &:focus, &.hasFocus {
		background: $c-btn--hover;
		text-decoration: none;
	}
	&--hasIcon {
		padding-left: 50px;
		&:before {
			@extend %centered--v;
			left: 10px;
			@include M-icon-size(20px);
		}
	}
	@each $class, $colours in $btnColors {
		$color: nth($colours,1);
		$color--hover: $c-btn--hover;
		@if (nth($colours,2)){
			$color--hover: nth($colours,2);
		}

		&--#{$class} {
			background-color: $color;
			border-color: $color;
			&:hover, &:focus, &.hasFocus {
				background-color: $color--hover;
			}
		}
	}
}

