
//sets up the styles for icon classes
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	&:before, &:after {
		display: block;
		@extend %M-icon-static-styles;
		line-height: 1em;
	}
}

//generates the .icon-XXX classes
@each $icon, $referenceKey in $icons {
    .icon-#{$icon}:before {
        content: $referenceKey !important;
    }
}

//facebook2 is only useful if given these styles because of the offset in the "f"
.icon-facebook2:before {
	background-color: #3a5897;
	color: #fff;
	padding-left: 0.333%;
}
