
//sets up the styles for icon classes
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	&:before, &:after {
		display: block;
		@extend %M-icon-static-styles;
		line-height: 1em;
	}
}

//generates the .icon-XXX classes
@each $icon, $referenceKey in $icons {
    .icon-#{$icon}:before {
        content: $referenceKey !important;
		@if ($icon == 'spinner'){
			@include M-spin;
		}
    }
}
