/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$excel: (
  name: 'excel',
  x: 0px,
  y: 34px,
  offset_x: 0px,
  offset_y: -34px,
  width: 30px,
  height: 29px,
  total_width: 64px,
  total_height: 63px,
  image: '../images/auto-sprite/HD-retina-autosprite.png'
);
$pdf: (
  name: 'pdf',
  x: 0px,
  y: 0px,
  offset_x: 0px,
  offset_y: 0px,
  width: 30px,
  height: 30px,
  total_width: 64px,
  total_height: 63px,
  image: '../images/auto-sprite/HD-retina-autosprite.png'
);
$powerpoint: (
  name: 'powerpoint',
  x: 34px,
  y: 34px,
  offset_x: -34px,
  offset_y: -34px,
  width: 30px,
  height: 29px,
  total_width: 64px,
  total_height: 63px,
  image: '../images/auto-sprite/HD-retina-autosprite.png'
);
$word: (
  name: 'word',
  x: 34px,
  y: 0px,
  offset_x: -34px,
  offset_y: 0px,
  width: 30px,
  height: 30px,
  total_width: 64px,
  total_height: 63px,
  image: '../images/auto-sprite/HD-retina-autosprite.png'
);
$spritesheet-retina: (
  width: 64px,
  height: 63px,
  image: '../images/auto-sprite/HD-retina-autosprite.png',
  sprites: $excel $pdf $powerpoint $word
);

