// ******************************************************\
// * DEVICE WIDTHS
// ******************************************************/
$fix-mqs: false !default;

$mediaQuery: ();


@function calculateMQ ($range, $setting1: null, $setting2: 0){

	$setting2: if($setting2 == null, 0, $setting2);

	$mediaString: '';

	$errorMessage: '"#{$range}" range requires the first width setting (#{$setting1}) to be higher than the second width setting (#{$setting2})';
	$errorMessage--ratios: '"#{$range}" range requires the settings (#{$setting1} #{$setting2}) to be strings in this format "4/3" (width ratio / height ratio).';

	@if (type-of($range) == 'string'){
		@if (str-index($range, 'ratio') == null){
			//if a standard media query
			@if (($setting2 != 0) and ($setting1 < $setting2)){
				//if setting 2 is higher than setting 1
				@error $errorMessage;
			}
		} @else {
			//else if it's a ratio...
			@if ((type-of($setting1) != string) or (($setting2 != 0) and (type-of($setting2) != string))){
				@error $errorMessage--ratios;
			}
		}
	}



	$mediaString: map-get((
	//*single value given*/
		min : '(min-width: #{$setting1 + 1})',
		max : '(max-width: #{$setting1})',

		min-height : '(min-height: #{$setting1 + 1})',
		max-height : '(max-height: #{$setting1})',

		ratio : '(aspect-ratio: #{$setting1})',
		min-ratio : '(min-aspect-ratio: #{$setting1})',
		max-ratio : '(max-aspect-ratio: #{$setting1})',

		device-ratio : '(device-aspect-ratio: #{$setting1})',
		min-device-ratio : '(min-device-aspect-ratio: #{$setting1})',
		max-device-ratio : '(max-device-aspect-ratio: #{$setting1})',

	//*2 values given*/
		inside : '(max-width: #{$setting1}) and (min-width: #{$setting2 + 1})',
		outside : 'not (max-width: #{$setting1}) and (min-width: #{$setting2 + 1})',

		inside-height : '(max-height: #{$setting1}) and (min-height: #{$setting2 + 1})',
		outside-height : 'not (max-height: #{$setting1}) and (min-height: #{$setting2 + 1})',

		inside-ratio : '(max-aspect-ratio: #{$setting1}) and (min-aspect-ratio: #{$setting2})',
		outside-ratio : 'not (max-aspect-ratio: #{$setting1}) and (min-aspect-ratio: #{$setting2})',

		inside-device-ratio : '(max-device-aspect-ratio: #{$setting1}) and (min-device-aspect-ratio: #{$setting2})',
		outside-device-ratio : 'not (max-device-aspect-ratio: #{$setting1}) and (min-device-aspect-ratio: #{$setting2})',
	), $range);

	@return $mediaString;
}

@function ieMQtest ($range, $width1: null, $width2: null) {
	//if IE8 and not a ratio, test to see if the styles should be output directly to the style sheet
	@if ($ie8 and (str-index($range, 'ratio') == null)){
		$test: (
			(($fix-mqs >= $width1) and ($range == 'min')) or
			(($width2 != null) and ($fix-mqs >= $width1) and ($range == 'outside')) or
			(($width2 != null) and ($fix-mqs < $width1) and ($fix-mqs >= $width2) and ($range == 'inside'))
		);
		//@debug "mq(#{$range}, #{$width1}, #{$width2}) = #{$test}";
		@return $test;
	} @else {
		@return false;
	}
}

@mixin M-mq($range, $setting1: null, $setting2: null) {

	@if (length($range) > 1) {

		$newRange: nth($range,1);

		//Uses this functionality if using a single level MQ variable
		//eg:
		//$MQ-example--single: inside, bp('large'), bp('tablet'));
		//@include M-mq($MQ-example--single){}

		@if ((type-of($newRange) == string) and $newRange != 'combine'){


			$newWidth1: nth($range,2);
			$newWidth2: null;
			@if (length($range) == 3){
				$newWidth2: nth($range,3);
			}


			@if (ieMQtest($newRange, $newWidth1, $newWidth2)) {
				@content;
			} @else {
				@media #{'screen and ' + calculateMQ($newRange, $newWidth1, $newWidth2)} {
					@content;
				}
			}

		//Uses this functionality if using a multi level MQ variable
		//eg:
		//$MQ-example--multiple:
		//	(inside, bp('large'), bp('tablet')),
		//	(min, bp('page'))
		//;
		//@include M-mq($MQ-example--multiple){}
		} @else {
			$mediaQuery: ();

			$isCombined: false;

			@each $mqSet in $range {


				$newRange: nth($mqSet,1);

				@if ($newRange == 'combine'){
					$isCombined: true;
				} @else {

					$newWidth1: nth($mqSet,2);
					$newWidth2: null;
					@if (length($mqSet) == 3){
						$newWidth2: nth($mqSet,3);
					}

					@if (($lt-ie9 == true) and (ieMQtest($newRange, $newWidth1, $newWidth2))) {
						@content;
					} @else {
						@if($isCombined){
							@if ($mediaQuery == ()){
								$mediaQuery: calculateMQ($newRange, $newWidth1, $newWidth2);
							} @else {
								$mediaQuery: $mediaQuery + ' and ' + calculateMQ($newRange, $newWidth1, $newWidth2);
							}
						} @else {
							$mediaQuery: append($mediaQuery, calculateMQ($newRange, $newWidth1, $newWidth2), 'comma');
						}
					}
				}
			}//end @each

				@debug $isCombined;
				//@debug $mediaQuery;

			@if ($newRange != 'combine' and not $lt-ie9) {
				@debug $mediaQuery;
				@media #{'screen and ' + $mediaQuery} {
					@content;
				}
			}
		}

	//Uses this functionality if placing MQ data inline
	//eg:
	//@include M-mq(inside, bp('large'), bp('tablet'));
	} @else {

		@if (ieMQtest($range, $setting1, $setting2)) {
			@content;
		} @else {
			@if ($lt-ie9 == false) {
				@debug ($range);
				@media #{'screen and ' + calculateMQ($range, $setting1, $setting2)} {
					@content;
				}
			}
		}

	}
}


@mixin M-retina {
	@if ($lt-ie9 == false) {
	  	@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (           min-resolution: 192ppi),
			only screen and (            min-resolution: 2dppx) {
				@content;
		}
	}
}

//**********************************\
//	Resolution specific elements
//*********************************/

$BP-mobile: bp('mobile');
$BP-tablet: $BPG-sidebar--fullWidth;

@mixin M-mobileOnly {
	@include M-mq(min, $BP-mobile){
		display: none!important;
	}
}

@mixin M-tabletOnly {
	@include M-mq(outside, $BP-tablet, $BP-mobile){
		display: none!important;
	}
}

@mixin M-desktopOnly {
	@include M-mq(max,$BP-tablet){
		display: none!important;
	}
}

@mixin M-nonMobile {
	@include M-mq(max, $BP-mobile){
		display: none!important;
	}
}

@mixin M-nonTablet {
	@include M-mq(inside, $BP-tablet, $BP-mobile){
		display: none!important;
	}
}

@mixin M-nonDesktop {
	@include M-mq(min, $BP-tablet){
		display: none!important;
	}
}


// ******************************************************\
// * PRINT
// ******************************************************/
@mixin M-print {
	@media print {
		@content;
	}
}