
$C-icon: $CB-grey-dark;

$V-content-padding: 20px;

$CL-module: '.accordion';

#{$CL-module} {
	margin-top: 15px;

	&:first-child {
		margin-top: 0;
	}

		&__item {
			margin: 0;

			&--isOpen-JS {
				#{$CL-module} {
					&__icon {
						@include MG-plus('toMinus', $pos: absolute);
						background-color: $C-icon;
						&:before, &:after {
							background-color: #fff;
						}
					}
				}
			}
		}

			&__heading { margin: 0; @include MG-font-size(20px); }

				&__headLink {
					display: block;
					padding: $V-content-padding;
					padding-right: 60px;
					color: $CB-grey-dark;
					line-height: 1;
					@include MG-hover {
						background-color: $CB-grey-pale;
						text-decoration: none;
						outline: none;
					}

				}

					&__icon {
						@include MG-animate(0.5s);
						@include MG-plus($C-icon);
						@include MG-circle(stroke, $C-icon, 20px);
						@include MG-centered(v);
						right: 30px;
					}

			&__content {
				padding: $V-content-padding;
			}
}