///*================================================*\
//	BREAK POINTS
//----------------------------------------------------
//	Defines the points at which the page design
//	will snap and drastically change it's styles
//
//	Waring, if you
//*================================================*/

//browser spec min-supported width: 320px (iPhones)

//break points
$bp-x-small: 350px; //essentially iphones in portrait view only

$bp-small: 480px;

$bp-mobile: 600px; //Maximum for strict mobile view

$bp-phablet: 770px; //Maximum for really large phones or really small tablets

$bp-tablet: 960px; //maximum for tablets in portrait

$bp-desktop: 1024px; //maximum for tablets in portrait landscape

$bp-large: 1200px; // Point at which the edge of the page meets the edge of the screen.
