
@mixin MG-dotted-border($sides: 'all', $color: grey) {

$borderSettings: map-get((
    grey : (
		img : 'dotted-border.png',
		border : 2px dotted $CB-grey-light,
	),
    white : (
		img : 'dotted-border--white.png',
		border : 2px dotted #fff,
	),
), $color);

	$img: map-get($borderSettings, img);
	$border: map-get($borderSettings, border);

	border: $border;
	border-image: url(../images/design/#{$img}) 2 repeat;
	@if ($sides == 'all'){
		.no-borderimage & { border-width: 2px; }
	} @else {
		border-width: 0;
		@each $side in $sides {
			border: {
				#{$side}-width: 2px;
			}
			.no-borderimage & { border-#{$side}-width: 2px; }
		}
	}
}
