
$C-bar--active: CG-prominence(1);
$C-bar--inactive: #fff;

$V-bar-height: $VG-headerTools__progressBar-height;
$V-animationTime: $VG-headerTools-transformTime;

$module: 'progressBar';
@if ($modern) {
	.#{$module} {
		position: fixed;
		top: -$V-bar-height;
		right: -$V-bar-height;
		left: 0;
		z-index: 5;
		background-color: $C-bar--inactive;
		@include M-rotate(45, top right);
		@include M-animate($V-animationTime);

		&__progress {
			height: $V-bar-height;
			background-color: $C-bar--active;
			position: relative;
			width: 0%;

			@include M-before {
				@include M-tri(down, $C-bar--active, $V-bar-height, 0);
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
	}

	.#{$VG-headerTools-transformClass} {
		.#{$module} {
			top: 0;
			right: 0;
			@include M-rotate(0);
		}
	}
}