
$C-icon: $CG-headerIcons;

$C-grad-1: CG-prominence(1);
$C-grad-2: CG-prominence(1, 'partner');
$C-grad-1--transformed: CG-prominence(2);
$C-grad-2--transformed: tint(CG-prominence(2, 'partner'),15%) ;

$V-background-size--open: 750px;
$V-background-size--closed: 165px;
$V-iconSize: 20px;

$moduleSizeSettings: (
	(
		sizeName: 'L',
		bg-closed: 165px,
		btn-size: 30px,
		mq: $MQG-headerTools--is-size-L,
	), (
		sizeName: 'M',
		bg-closed: 150px,
		btn-size: 25px,
		mq: $MQG-headerTools--is-size-M,
	), (
		sizeName: 'S',
		bg-closed: 100px,
		btn-size: 23px,
		mq: $MQG-headerTools--is-size-S,
	)
);


$module: 'search';

%animatedOnOpen { @include M-animate($VG-headerTools-transformTime); }

.#{$module} {

	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	//overflow: hidden;
	@extend %animatedOnOpen !optional;

	@each $setting in $moduleSizeSettings {
		$mq: map-get($setting, mq);
		$bg-closed: map-get($setting, bg-closed);
		$btn-size: map-get($setting, btn-size);
		$sizeName: map-get($setting, sizeName);

		$baseBG-closed: strip-units(map-get(nth($moduleSizeSettings,1), bg-closed));

		@include M-mq($mq){
			$padding:round($bg-closed * (85/$baseBG-closed));
			@if ($sizeName == 'S'){
				//hacking at the small size to get it to look ok
				padding-top: round($padding * 0.8);
				padding-bottom: round($padding * 0.9);//fixes vertical alignment
				padding-left: round($padding * 1.125);
				padding-right: round($padding * 0.2);
			} @else {
				padding: $padding;
				padding-right: round($bg-closed * (30/$baseBG-closed));
			}

			&__backgroundWrap {
				width:$bg-closed * 1.4;
				height:$bg-closed * 1.7;
			}
				&__background {
					@include M-size($bg-closed);
					top: $bg-closed * 0.7;
				}

			&__btn {
				right: round($bg-closed * (10/$baseBG-closed));
				bottom: round($bg-closed * (10/$baseBG-closed));
				@include M-icon-size($btn-size);
			}
		}
	}

	@include M-mq($MQG-headerTools--is-size-S){
		width: 0;
	}

	&__backgroundWrap {
		@extend %animatedOnOpen !optional;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		.home & {
			opacity: 0;
		}
	}
	&__background {
		@extend %animatedOnOpen !optional;
		@include M-origin(top left);
		@include M-rotate(-45);
		position: absolute;
		left: 0;

		@include M-before-after {
			@include M-animate($VG-headerTools-transformTime);
			@include M-fill;
		}
		&:before {//default styling
			opacity: 1;
			@include M-grad($C-grad-1, $C-grad-2, 45deg);
		}
		&:after {//styling while transformed
			opacity: 0;
			@include M-grad($C-grad-1--transformed, $C-grad-2--transformed, 45deg, 50%, 75%);
		}
	}

	&__form {
		position: relative;
		z-index: 2;
		top: 4px;
	}
		&__expander {
			width: 0;
			display: inline-block;
			overflow: hidden;
			@extend %animatedOnOpen !optional;

			@include M-mq($MQG-headerTools--is-size-S){
				width: 100%;
			}
		}

		&__input {
			@extend %animatedOnOpen !optional;
			padding: 7px 40px 7px 15px;
			@if($ie8){ padding-right: 15px }
			border: none;
			outline: none;
			@include M-font-size(17px);
			opacity: 0;
			margin: 4px 0;
			border-radius: 0;
		}

		&__btn {
			@extend %animatedOnOpen !optional;
			display: block;
			color: $C-icon;
			position: absolute!important;
			//right: 10px;
			//bottom: 10px;
			top: 4px;
			margin: auto 0;
			@include M-hover {
				text-decoration: none;
				&:before {
					@include M-rumble($loops:1);
				}
			}
			@include M-mq($MQG-headerTools--is-size-S){
				top: 0;
			}
		}
}

//styles for when search is open
.#{$VG-search-openClass} {
	padding-left: 70px;
	padding-right: 30px;
	.#{$module} {
		&__expander {
			width: 400px;
		}
		&__backgroundWrap {
			width:$V-background-size--open;
			height:$V-background-size--open * 1.15;
			left: 0;
			opacity: 1;
		}
			&__background {
				@include M-size($V-background-size--open);
				left: 0;
			}
		&__input {
			opacity: 1;
		}
		&__btn {
			&:before { color: $C-icon!important; }
		}
		&__tooltip {
			margin-top: 30px!important;
			margin-right: -8px;
		}

		@include M-mq($MQG-headerTools--is-size-S){
			width: 100%;
			padding-left: 45px;
			padding-right: 10px;

			&__expander {
				width: 100%;
			}
		}
	}
}

.#{$VG-headerTools-transformClass} {
	.#{$module} {
		top: if($modern, $VG-headerTools__progressBar-height, 0px);
		padding-top: 0;
		padding-bottom: 0;
		height: $VG-headerTools-transformHeight;
		@if($gt-ie8){ z-index: 25; }
		@if($ie8){ right: 100px; }

		&__backgroundWrap {
			height: $VG-headerTools-transformHeight;
			left: -10px;
			opacity: 1!important;
		}
			&__background {
				top: 100%;
				bottom: auto;
				&:before { opacity: 0; }
				&:after { opacity: 1; }
			}
		&__form { top: 0; }
		&__btn {
			//top: 0;
			color: #fff;
			outline-color: #fff;
			@include M-hover {
				&:before { color: if($ie8, $CG-menuBtn--hover!important, $CG-menuBtn--hover); }
			}
			@if($ie8) {
				right: -50px;
				&:before {
					@include M-icon-size(30px,50px);
					color: #fff!important;
					line-height: 33px;
				}
			}
		}
		&--isOpen-JS {
			padding-left: 10px;
			.#{$module} {
				&__backgroundWrap {
					@include M-grad($C-grad-1--transformed, $C-grad-1--transformed, 45deg, 40%, 60%);
				}
				&__btn {
					outline-color: #000;
				}
			}
		}
	}
}
