
$C-backTri-bg: #FCD507;
$C-frontTri-bg: #FBC60A;

.decorativeBaseTri {
	position: absolute;
	right: -$VG-siteContainer-borderWidth;
	bottom: 360px;
	@include M-before-after;
	&:before {
		@include M-tri(left, $C-backTri-bg, 120px);
	}
	&:after {
		@include M-tri(left, $C-frontTri-bg, 90px);
		@include M-centered(v);
		right: 0;
	}
}