
$C-line: $CB-blue-dark;
$C-siteName: $C-line;

$V-line-length: 50vw;
$V-line-maxLength: 630px;
$V-divideDrawer-width: 10%;

$BP-line--visible: bp('tablet');
$BP-logo--stacked: bp('mobile');
$BP-intro--hidden: bp('mobile');
$BP-text--small: bp('small');

$MQ-line--is-visible: (min, $BP-line--visible);
$MQ-line--not-visible: (max, $BP-line--visible);

$MQ-text--is-small: (max, $BP-text--small);
$MQ-text--not-small: (min, $BP-text--small);

$MQ-logo--is-stacked: (min, $BP-logo--stacked);
$MQ-logo--not-stacked: (max, $BP-logo--stacked);

$MQ-intro--is-hidden: (max, $BP-intro--hidden);
$MQ-intro--not-hidden: (min, $BP-intro--hidden);

$MQ-landingHeader--has-background: (max, bp('mobile'));

$MQ-landingHeader--no-bottomGap: (max, bp('mobile'));

$module: 'internalHeader';

.#{$module} {
	padding-bottom: 50px;
	color: $CB-blue-dark;
	@include M-mq($MQ-line--not-visible){
		padding-bottom: 40px;
	}
	@include M-mq($MQ-intro--is-hidden){
		padding-bottom: 0;
	}

	&__logoSiteNameWrap {
		@include M-mq($MQ-landingHeader--has-background){
			&--landing {
				margin: -20px;
				margin-bottom: 0;
				padding: 20px;
				background: $CG-landingTri-fill;
			}
		}
	}

	&__logo {
		padding: 35px 0 60px;
		width: 235px;
		svg { width: 100%; height: auto; margin-top: 0;
			line { stroke-width: 1px; stroke: #000; }
		}

		&--landing {
			a { outline-color: #fff; display: inline-block; }

			svg { fill: #fff;
				line { stroke: #fff; }
			}

			@include M-mq($MQG-landingTri--is-diagonalCut){
				padding-top: 0;
			}
			@include M-mq($MQ-landingHeader--no-bottomGap){
				padding-bottom: 0;
			}
		}

		@include M-mq($MQ-line--not-visible){
			padding-bottom: 30px;
			padding-top: 0;
			@include M-mq($MQ-logo--is-stacked){
				float: left;
			}
		}
		@include M-mq($MQ-logo--not-stacked){
			width: 80%;
			padding: 0;
			a { width: 100%; }
			@include M-mq($MQ-text--is-small){
				width: 65%;
			}
		}
	}
		&__titlesCell {
			width: 100%;
		}
	&__siteName {
		position: relative;
		padding-top: 8px;
		margin-top: 0;
		margin-bottom: 72px;
		line-height: 1.45;
		@include M-font-size(20px);

		@include M-before {
			@include M-line(h, $C-line, 20px, 1px);
			position: absolute;
			top: 0;
			left: 0;
		}
		a { color: $C-siteName; display: inline-block; }

		@include M-mq($MQ-line--not-visible){
			@include M-mq($MQ-logo--is-stacked){
				&:not(.#{$module}__siteName--landing){
					float: left;
					margin-bottom: 30px;
					margin-left: 30px;
					margin-top: 25px;
				}
			}
		}
		@include M-mq($MQ-logo--not-stacked){
			margin: 10px 0 0;
		}
		@include M-mq($MQ-text--is-small){
			@include M-font-size(12px);
			line-height: 1.2;
			.TK-weight--light { font-weight: $normal; }
		}
		@include M-mq(max, 350px){
			@include M-font-size(10px);
		}

		&--landing {
			clear: left;
			a { color: #fff; outline-color: #fff; }
			&:before {
				border-color: #fff;
			}
			@include M-mq($MQG-landingTri--is-diagonalCut){
				//margin: 20px 0;
			}
			@include M-mq($MQG-landingSiteName--has-droppedDown){
				//margin-bottom: 10px;
				clear: left;
			}
			@include M-mq($MQ-landingHeader--no-bottomGap){
				margin-bottom: 5px;
			}
		}
	}
		&__siteNameText {
			margin-right: 5px;
			&--large {
				font-size: 1.2em;
			}
			@include M-mq($MQ-logo--is-stacked){
				display: block;
				margin-right: 0;
			}
		}

	&__pageTitle {
		@include M-font-size(24px);
		line-height: 1.2;
		clear: left;
		position: relative;
		padding-top: 18px;
		font-family: $openSans;
		margin-top: 0;
		margin-bottom: 15px;

		strong {
			font-size: (1.4em/2.4);//14px / 24px
			display: block;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 0;
		}
		@include M-mq($MQ-line--is-visible){
			padding-right: 40px;
		}
		@include M-mq($MQ-line--not-visible){
			margin-top: 16px;
			margin-right: 3%;
			@include M-mq($MQ-logo--is-stacked){
				width: 37%;
				margin-top: 0;
			}
		}
		@include M-mq($MQ-text--is-small){
			@include M-font-size(18px);
		}
		@include M-mq($MQ-intro--is-hidden){
			padding-right: 85px;
		}
	}
		&__introTrigger {
			@if ($modern){
				&:before {
					@include M-centered(v);
					right: 50px;
					.accordion__item--isOpen-JS & {
						background-color: $CG-info-bg--active;
						color: $CG-info-icon--active;
					}
				}
			} @else {
				display: none;
			}
		}
	&__divideDrawer {
		height: 200px;
		width: $V-divideDrawer-width;
		position: relative;
		@include M-before {
			position: absolute;
			left: -120%;
			bottom: 22px;
			width: $V-line-maxLength;
			max-width: $V-line-maxLength;
			@include M-line(h,$C-line,$V-line-length,2px);
			@include M-rotate(-45, left bottom);
		}
		@include M-mq($MQ-line--not-visible){
			display: none;
		}
	}
	&__introText {
		color: #000;
		padding-right: 30px;
		margin-top: 20px;
		@include M-mq($MQ-text--is-small){
			margin-top: 10px;
			@include M-font-size(14px);
		}
		@include M-mq($MQ-intro--is-hidden){
			display: none;
		}
		@include M-mq($MQ-intro--not-hidden){
			body:not(.home) & {
				display: block!important;
			}
		}
		@include M-mq($MQ-line--not-visible){
			@include M-mq($MQ-logo--is-stacked){
				width: 60%;
			}
		}
	}

	&__title {
		width: 100%;
		@include M-mq($MQ-logo--is-stacked){
			float: left;
			width: (100% - $V-divideDrawer-width) / 2;
		}
	}
}