
$C-fixedNav-bg: $CG-sideNav-bg;

$MQ-module--not-fullWidth: (min, $BPG-sidebar--fullWidth);
$MQ-module--is-fullWidth: (max, $BPG-sidebar--fullWidth);

$MQ-cell--is-fullWidth: (max, bp('mobile'));

$module: 'sideBar';

.#{$module} {
	@include M-mq($MQ-module--not-fullWidth){
		max-width: $VG-sideBar-width;
		.no-flexbox & {
			width: $VG-sideBar-width;
			.grid { width: $VG-sideBar-width; }
		}
	}
	@include M-mq($MQ-module--is-fullWidth){
		&__cell {
			width: 50%!important;
		}
	}

	@include M-mq($MQ-cell--is-fullWidth){
		&__cell {
			width: 100%!important;
		}
	}
	&--isOpen-JS {
		right: 0;
	}
}
