
$C-overlay-grad-top: #133a51;
$C-overlay-grad-bottom: #12293a;
$C-overlay-bg: #0c293b;

$C-intro-bg: #0E283B;
$C-playBtn-bg: #167598;

$V-intro-border: 10px solid #0B2232;
$V-intro-width: 340px;

$BP-mode--slim: $V-intro-width;

$MQ-mode--is-slim: (max, $BP-mode--slim);
$MQ-mode--not-slim: (min, $BP-mode--slim);

$module: 'videoBlock';

.#{$module} {
	position: relative;

	&__overlay {
		overflow: hidden;
		@if ($gt-ie8){ @include M-fill; }
		z-index: 3;
		@include M-before-after;
		opacity: 1;
		@include M-scale(1);
		@include M-animate(0.5s);

		@if($ie8){
			background: $C-overlay-bg;
			&:after { display: none; }
		} @else {
			&:before {
				@include M-fill;
				background: $C-overlay-bg;
				opacity: 0.88;
			}
		}

		&--isClosed-JS {
			@include M-scale(0);
			opacity: 0;
		}
		@include M-mq($MQ-mode--is-slim){
			position: relative;
		}
		@include M-mq($MQ-mode--not-slim){
			&:after {
				position: absolute;
				top: -35%;
				left: -50%;
				width: 100%;
				padding-bottom: 100%;
				@include M-rotate(45);
				background: red;
				@include M-grad($C-overlay-grad-top, $C-overlay-grad-bottom, 135deg, 40%, 60%);
			}
		}
	}
		&__intro {
			@if($ie8){
				cursor: default;
			} @else {
				@include M-centered(both, 'modern');
			}
			@if($gt-ie8){ max-width: $V-intro-width; }
			width: 100%;
			z-index: 5;
			background: $C-intro-bg;
			@include M-hover {
				text-decoration: none;
				.#{$module} {
					&__playBtn {
						background-color: shade($C-playBtn-bg, 30%);
						text-decoration: none;
					}
						&__btnIcon {
							&:after {
								border-left-color: transparent;
							}
						}
				}
			}
			&:focus {
				outline: 1px dotted tint($C-overlay-bg, 30%);
			}
			@include M-mq($MQ-mode--is-slim){
				position: relative;
				@include M-transform(none);
				left: 0;
				top: 0;
			}
			img { display: block; }
		}
			&__text {
				border-top: $V-intro-border;
				padding: 15px;
				@include M-font-size(17px);
				color: #fff;
			}
			&__playBtn {
				display: block;
				padding: 10px 15px;
				background-color: $C-playBtn-bg;
				color: #fff;
				position: relative;
				@include M-animate;
				@if($ie8){ display: none; }

				@include M-hover {
					background-color: shade($C-playBtn-bg, 30%);
					text-decoration: none;

					.#{$module} {
						&__btnIcon {
							&:after {
								border-left-color: transparent;
							}
						}
					}
				}
			}
				&__btnIcon {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 50px;
					border-left: 1px solid $C-intro-bg;
					@include M-before-after {
						@include M-centered;
					}
					&:before {
						@include M-tri(right,#fff,10px, 7px);
					}
					&:after {
						@include M-tri(right,$C-playBtn-bg,7px,5px);
						right: 1px;
						@include M-animate(0.3s);
						opacity: 1;
					}
				}
	html &__video {
		@include M-mq($MQ-mode--is-slim){
			@include M-fill;
			padding: 0;
		}
	}
}
