
$C-h1: #2B2B2B;

$MQ-tables--have-overflow: (max, bp('page'));

/*================================================*\
	BASE ELEMENT STYLING
//----------------------------------------------------
//	This file holds base styling for elements.
//	NO CLASSES ALLOWED!
//	these are essentially site resets
\*================================================*/

* {
	&:before, &:after, & {
		//Makes fonts smoother
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smoothing: antialiased;

		//supposedly this makes fonts cleaner but it makes fonts not appear in safari
		//text-rendering: optimizeLegibility;

		//all elements are given their parents box-sizing
		@include MG-box-sizing(inherit);
	}
}

html, body {
	//unless set otherwise, all elements will recieve border box box sizing
	@include MG-box-sizing(border-box);

	//required for best scroll animation results
	height: 100%;
	margin: 0;
	padding: 0;
}

//counteracts * margin styling
span,
em,
strong,
a,
b,
i,
label,
input,
div,
textarea,
select,
header,
footer,
aside,
time,
html,
form,
nav,
nav li { margin-top: 0; }


html {
	//Makes it easier to alter font size with rem's. 1.3rem = 13px
	font-size: 62.5%;
}

//Sets default font size for the site to 1.4rem with a 14px backup.
//Setting the font-size using the mixin is the best way to set font size.
body {
	position: relative;
	@include MG-font-size(14px);
	line-height: 1.5;
	font-family: $sans-serif;
	margin: 0;
	font-weight: $normal;
	background-color: $CG-body-bg;
	color: $CG-body-text;
}


/*HEADINGS*/
h1, h2, h3, h4, h5, h6 {
	color: $CG-heading;
	font-weight: $normal;
	line-height: 1;
	margin-bottom: 15px;
	margin-top: 30px;
	+ {
		p, ul, ol { margin-top: 0; }
	}
}
h1 {
	@include MG-font-size(30px);
	margin: 0;
	+ h2 { margin-top: 30px; }
}
h2 { @include MG-font-size(24px); margin-top: 50px; font-weight: $semi-bold; }
h3 { @include MG-font-size(22px); text-transform: uppercase; font-weight: $normal; }
h4 { @include MG-font-size(18px); font-weight: $semi-bold; }
h5 { @include MG-font-size(14px); text-transform: uppercase; font-style: italic; }

p { margin: $VG-standardContent-paragraphSpacing 0 0; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
	//margin top becomes the default font spacer
	margin-bottom: 0;
	margin-top: 1em;

	//allows body elements to sit hard up against the top border of their parent element without causing spacing issues later in the text.
	&:first-child { margin-top: 0; }
}

a {
	text-decoration: none;
	color: $CG-links;
	@include MG-hover {
		text-decoration: underline;
	}
}

//makes nav default to not having dot points
nav ul { @extend %noDots; }

label, input[type=radio], input[type=checkbox] { cursor: pointer; }

blockquote {
	background-color: $CB-grey-light;
	margin: $VG-standardContent-paragraphSpacing 0 0;
	padding: 20px;
	@include MG-font-size(16px);
}
